[2021-02-09 22:21] ayan-biswas0412 opened #10 "hello"
**Give a basic intro about yourself**
Testing

A clear and concise description of yourself [...]

**Describe your tech expertise**

A clear and concise description of the domains in which you have worked on (just make bullet points please don't provide information about each and every stack you can mention your previous projects but not necessary).

* javascript
* ReactJS
..etc

**Describe your ho

[2021-02-09 22:22] #10 closed

[2021-02-15 10:35] ayan-biswas0412 opened #11 "Add GSSoc 2021 logo in Readme"
**Is your feature request related to a problem? Please describe.**
Add a logo of GSSoc 2021 in Readme file below the line we are now part of GSSoc 2021

**Describe the solution you'd like**
Follow proper markdown rules to add the logo and take the logo from GSSoc official website.
keep the logo as```docs/gsssoc2021_logo.png```

[2021-02-15 10:38] ayan-biswas0412 opened #12 "Setup an express app and create folder backend"
**Is your feature request related to a problem? Please describe.**
setup an initial express app using the standard method and just setup the app and run , add proper environment variable for PORTS and other things the expressapp should be under ```backend``` folder under the main repository.

name of the npm package should be : backendhotelontouch

[2021-02-16 06:08] anushkasinghal11 commented on #11
Hey!
Can I take this up?

[2021-02-16 06:30] ayan-biswas0412 commented on #11
Go ahead

[2021-02-16 16:24] ayan-biswas0412 commented on #11
@anushkasinghal11 I would like to confirm you that towards GSsoc 2021 it will be counted as a valid contribution if your PR is placed on or after March 1

[2021-02-16 16:28] ayan-biswas0412 opened #13 "make bottomNavigator is customerfrontend"
**Is your feature request related to a problem? Please describe.**
you have to make an bootmnavigator consisting of four options
1. Home
2. Options
3. About
4. Profile

choose appropriate material icons and also in each page show one like "This is page_name page"

## Setup React-Native-Paper before start working

[2021-02-18 08:52] chaimat commented on #12
Hey! Can I take this up?

[2021-02-18 09:13] ayan-biswas0412 commented on #12
Go ahead

[2021-02-18 16:22] khushi935 commented on #13
I like to work on this. please assign it to me.😊

[2021-02-18 16:42] ayan-biswas0412 opened #15 "Setup React Router for hotel-admin-frontend"
**Describe the solution you'd like**
Add routes for different pages make page_one.js and page_two.js and define their corresponding routes under ```src/App.js``` and also integrate [React Bootstrap](https://react-bootstrap.github.io)

all pages should be under ```src/pages```

show one bootstrap <Card> in both of the pages containing text like ```This is the page one```

**Describe alternatives yo

[2021-02-18 16:44] ayan-biswas0412 opened #16 "setup React router for hotel-restraunt-frontend"
**Describe the solution you'd like**
Add routes for different pages make page_one.js and page_two.js and define their corresponding routes under ```src/App.js``` and also integrate [React Bootstrap](https://react-bootstrap.github.io)

all pages should be under ```src/pages```

show one bootstrap <Card> in both of the pages containing text like ```This is the page one```

**Describe alternatives yo

[2021-02-18 22:27] ayan-biswas0412 opened #22 "Design a logo for HotelOnTouch"
**Is your feature request related to a problem? Please describe.**
Read the project description and be creative as much as you can, please attach your logos in this issue and best logo will be taken and shown in the website.Submit your logo in this comment thread

[2021-02-19 12:14] khushi935 commented on #13
![Screenshot (84)](https://user-images.githubusercontent.com/62712155/108503233-09ee9600-72da-11eb-9623-d1350d5e98fc.png)
It's showing like this. What should I do now?

[2021-02-19 12:21] ayan-biswas0412 commented on #13
Thank you for running the project successfully locally but you have to connect android device/ emulator to run the app please refer the video https://www.youtube.com/watch?v=uqGEc5dywzo&t=118s

[2021-02-19 20:52] Doringl commented on #16
I can help you if you want ? :)

[2021-02-19 20:53] Doringl commented on #15
I can also help this issue.

[2021-02-19 23:11] ayan-biswas0412 commented on #15
Yeah go ahead

[2021-02-19 23:13] ayan-biswas0412 commented on #16
You are already assigned to another one please check that and after completion of that then ask for this issue

[2021-02-20 06:52] khushi935 commented on #13
same warn and information is showing.

[2021-02-20 07:14] ayan-biswas0412 commented on #13
Have you followed all the steps in the video ? And check if your android studio and android sdk is installed properly and set the local.properties file (Google it how to setup this) and then perform the adb reverse as said In video i think this  will sort your issue

[2021-02-20 08:58] ayan-biswas0412 opened #25 "make a Pull request component"
**Is your feature request related to a problem? Please describe.**
make a component inside ```src/components``` of folder ```hotelontouch``` for showing active PRs of this repository , name the file ```PullRequest.js``` and the function name should be ```PullRequest``` and it should have the following props

1. PR link
2. status = [merged/open/close]
3. based on the status the colour of the compon

[2021-02-20 09:02] ayan-biswas0412 opened #26 "make a GitHub status component"
**Is your feature request related to a problem? Please describe.**
make a component inside ```src/components``` of folder ```hotelontouch``` for showing statuses of this repository , name the file ```GithubStatus.js``` and the function name should be ```GithubStatus``` and it should have the following props

1. Github start
2. Forks
3. Github logo => onClick should redirect to this repo

[2021-02-20 14:53] ayan-biswas0412 opened #28 "make a wave animation based footer"
**Is your feature request related to a problem? Please describe.**
make a component inside ```src/components``` of folder ```hotelontouch``` , name the file ```Footer.js``` and the function name should be ```Footer``` and it should have the link to the the Github Repository

Make the footer which looks nice, new and creative ideas are most welcome

[2021-02-20 17:10] aniketsingh98571 commented on #28
Hey, can I take up this issue for GSSoC 2021? @ayan-biswas0412

[2021-02-20 17:27] ayan-biswas0412 commented on #28
you can work on this issue but I can merge your PR on or after 1 March for the consideration for GSSoc 2021

[2021-02-20 17:29] aniketsingh98571 commented on #28
yeah it's totally fine!!

[2021-02-20 17:30] ayan-biswas0412 opened #31 "Welcome Contributors"
Please Go through the [Readme](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/blob/main/README.md) first
before contributing anything , and here are some [Good First Issue](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)
**This project is under active development**

Please read our [Contributing Guidelines](https://

[2021-02-21 02:35] khushi935 commented on #13
I have to download android studio? I just download the platform-tool as shown in vedio.

[2021-02-21 08:45] aniketsingh98571 commented on #28
@ayan-biswas0412  What will be the color theme of the website, so that I can be picky about the footer colors. And I didn't
got this point `it should have the link to the the Github Repository`.

[2021-02-21 08:57] ayan-biswas0412 commented on #28
you can go with some colours around blue and for the second part there should be a GitHub icon which points to this repository

[2021-02-21 09:03] aniketsingh98571 commented on #28
@ayan-biswas0412 Should I raise a PR after 1 march?

[2021-02-21 09:04] ayan-biswas0412 commented on #28
you may raise PR and I can merge it after March 1

[2021-02-21 09:05] #31 closed

[2021-02-21 12:11] aniketsingh98571 commented on #28
can we use css for syting @ayan-biswas0412 . If yes what will be folder structure then?

[2021-02-21 13:04] aniketsingh98571 commented on #28
Can I use `npm eject` for using CSS modules?

[2021-02-21 13:07] ayan-biswas0412 commented on #28
@aniketsingh98571 you may use [styled-components](https://styled-components.com) and you can use them in same file - no need to change the folder structure

[2021-02-21 13:07] ayan-biswas0412 commented on #28
no

[2021-02-21 13:09] aniketsingh98571 commented on #28
Ok got it.

[2021-02-21 13:15] aniketsingh98571 commented on #28
means I need to it install it right `npm install --save styled-components`

[2021-02-21 13:19] ayan-biswas0412 commented on #28
yes

[2021-02-21 13:20] ayan-biswas0412 commented on #13
@khushi935 I am unassigning you for now , if you have done the local setup please inform me then I will assign you again

[2021-02-21 13:21] ayan-biswas0412 commented on #12
@chaimat are you working on this ?

[2021-02-21 13:21] ayan-biswas0412 commented on #11
@anushkasinghal11 I am unassigning you for now and I will assign you again on 1 March

[2021-02-21 15:25] ashirbad29 commented on #12
if the issue is still not resolved,  i want to work on this.

[2021-02-21 15:28] ashirbad29 commented on #26
I would like to work on this issue.

[2021-02-21 15:36] ayan-biswas0412 commented on #12
let's wait for @chaimat if he doesn't reply I will assign it to you

[2021-02-21 15:37] ayan-biswas0412 commented on #26
yeah go ahead

[2021-02-21 16:58] vinit-churi commented on #16
Can I work on this?

[2021-02-21 17:16] aniketsingh98571 commented on #28
![Screenshot (109)](https://user-images.githubusercontent.com/63097956/108632714-5ed70b80-7496-11eb-88d8-a3f2dabb4e57.png)
@ayan-biswas0412  Is this footer satisfies your requirements, don't worry about styling, I am working on it.

[2021-02-21 17:17] ayan-biswas0412 commented on #16
yeah go ahead

[2021-02-21 17:18] ayan-biswas0412 commented on #28
yeah nice it is a good start , make more style improvements

[2021-02-21 17:19] aniketsingh98571 commented on #28
ok sure, I am working on styling don't.

[2021-02-21 17:49] ayan-biswas0412 commented on #15
closed via #27

[2021-02-21 17:49] #15 closed

[2021-02-21 21:17] ayan-biswas0412 opened #35 "make All contributors section in main website"
**Is your feature request related to a problem? Please describe.**
make a component inside ```src/components``` of folder ```hotelontouch``` , name the file ```AllContributors.js``` and the function name should be ```AllContributors``` and it should show the following information

1. Contributor Github Profile image
2. Github username => Clickable => Redirect to their profile
3. All contributors s

[2021-02-21 21:23] ayan-biswas0412 opened #36 "Add cool svgs and make a section which describes the entire project"
**Is your feature request related to a problem? Please describe.**
Read the project description from Readme and make one component ```AboutProject.js``` inside ```src/components``` in the folder ```hotelontouch``` which describes the entire project, use your own words , you can use cool animations or svgs to describe the project well.

Innovative ideas are most welcome

[2021-02-21 21:26] ayan-biswas0412 opened #37 "Make a Project Admin Card Component"
**Is your feature request related to a problem? Please describe.**
Add a project admin card component the card should contain
Project Admin Name : Ayan Biswas , Github Username : ayan-biswas0412 , Website : https://ayanbiswas.in and fetch the GitHub profile picture for the card

Name the component ```AdminCard.js``` , keep this in ```hotelontouch/src/components``` and render it in ```HomePage.js``

[2021-02-21 21:31] ayan-biswas0412 opened #38 "Make Contact us form"
**Is your feature request related to a problem? Please describe.**
Make one blank contact us form which takes the following inputs
1.Name
2. Email
3. Message

**Describe the solution you'd like**
Make the component inside ```hotelontouch/src/components``` and name the component ```ContactUs.js``` the component should be good looking , more innovative ideas are welcome

**Additional context**
Use R

[2021-02-22 05:11] ayan-biswas0412 opened #39 "make open source section in the website"
**Is your feature request related to a problem? Please describe.**
Make one component open source programmes we are part of which can take a json as props the json should be as below
[code]

**Describe the solution you'd like**
the component should be under ```hotelontouch/src/components``` and should be named ```OpensourceProgramme.js```

**Additional context**
You can use React Bootstrap Cards

[2021-02-22 07:29] chaimat commented on #12
I was waiting for 1st March as that's when we were asked to send in the PRs for GSSOC 2021 as @ayan-biswas0412 also mentioned in one of the other issues. I have completed the task, was just waiting for the event to begin. I can send in the pull request now as well.

[2021-02-22 07:44] ayan-biswas0412 commented on #12
sure

[2021-02-22 08:04] chaimat commented on #12
So should I send in the pull request now?

[2021-02-22 08:04] chaimat commented on #12
So should I send in the pull request now?

[2021-02-22 08:42] ayan-biswas0412 commented on #12
if you have done, you can send PR for review

[2021-02-22 16:21] aniketsingh98571 commented on #28
![Mobile](https://user-images.githubusercontent.com/63097956/108736773-edf82800-7557-11eb-9f0e-9ab1e17bd092.png)
![laptop](https://user-images.githubusercontent.com/63097956/108736796-f2bcdc00-7557-11eb-8487-4072495bff63.png)
@ayan-biswas0412, Have a look at the footer section at different devices. Is it fine?

[2021-02-22 16:23] ayan-biswas0412 commented on #28
@aniketsingh98571 please keep the GitHub icon only and integrate the **wave animation**  for the different device aspect it is fine for now

[2021-02-22 16:26] aniketsingh98571 commented on #28
only github icon will not look good, but then also I will keep it and regarding the wave animation it will be complex work but I will try.

[2021-02-22 16:29] ayan-biswas0412 commented on #28
use this for wave animation https://www.npmjs.com/package/react-wavify/v/1.2.1

[2021-02-22 17:48] Doringl commented on #37
I can do that if you want ?

[2021-02-22 17:52] Doringl commented on #37
And if you want to convert project to TypeScript i can help you too ...

[2021-02-22 17:58] ayan-biswas0412 commented on #37
@Doringl go ahead

[2021-02-22 19:04] ayan-biswas0412 commented on #37
Thank you again @Doringl for your interest but at this time we want to go with javascript only

[2021-02-22 21:59] ayan-biswas0412 opened #42 "make our solutions section in the main website"
**Is your feature request related to a problem? Please describe.**
make one our solution section and make one card inside it , give a proper svg , you can use undraw svgs
The Card title should be , Hotel Admin System and onClick should redirect to https://admin-hotelontouch.netlify.app make a beautiful card , more innovative designs are most welcome

**Additional context**
Use React Bootstrap Card

[2021-02-22 22:02] ayan-biswas0412 opened #43 "make a login page in hotel-admin-frontend"
**Is your feature request related to a problem? Please describe.**
make one login page inside ```hotel-admin-frontend/src/pages``` and name it ```Login.js``` use React Bootstrap forms
there should be the following fields

1.Username
2.Password
3.Captcha Validation
4. Proper validation check for Valid Email formats in the ```Username``` Field
5. If captcha is not done then form can't be submitted
6

[2021-02-22 22:08] ayan-biswas0412 opened #44 "Study the file structure in src and document the development guide"
**Is your feature request related to a problem? Please describe.**
Edit the ```Readme.md``` in the https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/tree/main/hotelontouch but first please study the whole flow and try to run using yarn start and then study the folder structure we use and the function naming types and document the whole thing in Readme.md such that a new developer can easil

[2021-02-23 04:27] khushi935 commented on #13
yeah ok

[2021-02-23 06:25] aniketsingh98571 commented on #28
https://user-images.githubusercontent.com/63097956/108808940-cc398800-75cd-11eb-85cc-6f638311e4af.mp4

@ayan-biswas0412  Here I have integrated wave animation via `react-wavify`.Is it fine?

[2021-02-23 06:28] ayan-biswas0412 commented on #28
@aniketsingh98571 yah it seems fine just change the frequency of the wave and increase it little bit and make a PR I will review it

[2021-02-23 06:40] aniketsingh98571 commented on #28
@ayan-biswas0412  created a PR. Have a look.

[2021-02-23 09:44] batman005 commented on #28
https://user-images.githubusercontent.com/51878340/108825703-5a6f3780-75e9-11eb-8f55-672e8a0e19c2.mp4

@ayan-biswas0412  I have also made  an  wave animation based footer .please have a look  into it...

[2021-02-23 09:54] ayan-biswas0412 commented on #28
@batman005 it is good but as it was assigned to @aniketsingh98571 so we will give priority first to his work but you can also enhance this and make a PR we will review it and maybe we can take it for another website anyways Good Work

[2021-02-23 10:04] batman005 commented on #28
Okay sir , thankyouu

[2021-02-23 15:43] rajeshpanjiyar commented on #22
I have made logo for this project, i request you to assign me this work on 1 march 2021.

[2021-02-23 15:44] ayan-biswas0412 commented on #22
@rajeshpanjiyar welcome to the community 🥰

[2021-02-23 16:08] rajeshpanjiyar commented on #22
![image](https://user-images.githubusercontent.com/78999467/108871615-6ecf2680-7621-11eb-98f4-bd78210a666b.png)

Please give feedback i will definitely improve

[2021-02-23 16:16] rajeshpanjiyar commented on #11
I would like to work on this so i am requesting you to assign me this task.

[2021-02-23 16:36] ayan-biswas0412 commented on #22
@rajeshpanjiyar it looks good please make the first block a kind of mobile and the second one as tablet or vice versa and also try to make the logo in a round shape

[2021-02-23 16:36] ayan-biswas0412 commented on #11
you are assigned in another one please complete that first

[2021-02-23 16:54] rajeshpanjiyar commented on #22
yeah sure, I will do

[2021-02-23 17:37] aniketsingh98571 commented on #28
https://user-images.githubusercontent.com/63097956/108883581-a04cef80-762b-11eb-846c-21f0076e9085.mp4

@ayan-biswas0412  Is it fine now?

[2021-02-23 18:06] ayan-biswas0412 commented on #28
yah I think @aniketsingh98571 it is fine please update your PR also

[2021-02-23 18:06] ayan-biswas0412 commented on #28
@batman005 can you make your PR also

[2021-02-23 18:20] rajeshpanjiyar commented on #22
![image](https://user-images.githubusercontent.com/78999467/108887166-fcb30d80-7631-11eb-850a-45183e8702d1.png)
![image](https://user-images.githubusercontent.com/78999467/108888610-c70f2400-7633-11eb-9071-6e9bddce5d45.png)

I have attached these two. Please give me some feedback

[2021-02-23 18:32] ayan-biswas0412 commented on #22
@rajeshpanjiyar lets keep the second one and make it pure round and provide a image of a hotel in the Tablet and rest is fine and make the logo base colour as blue

[2021-02-23 19:18] rajeshpanjiyar commented on #22
![image](https://user-images.githubusercontent.com/78999467/108895719-10fc0800-763c-11eb-9d4a-cb1ba1ce4a1d.png)

Is this one okay?

[2021-02-23 19:59] rajeshpanjiyar commented on #22
![image](https://user-images.githubusercontent.com/78999467/108900459-c087a900-7641-11eb-9288-4e227ede83c0.png)

Or this is required one? Give feedback if some more modification is needed.

[2021-02-24 05:28] ayan-biswas0412 commented on #22
yah this one looks good , now take this and enhance something more , and please raise the font size of Hotel and the Touch text

[2021-02-24 06:47] rajeshpanjiyar commented on #22
![image](https://user-images.githubusercontent.com/78999467/108959167-26088380-769c-11eb-9fb8-04869a8662e2.png)

Yeah done

[2021-02-24 08:49] rajeshpanjiyar commented on #11
Please assign me on this, I want to work on this too.

[2021-02-24 10:15] ayan-biswas0412 commented on #22
nice just make the text size a slight bigger and it will be ready

[2021-02-24 10:15] ayan-biswas0412 commented on #36
@rajeshpanjiyar yah please finalise your previous task and I will assign this to you after that

[2021-02-24 10:16] ayan-biswas0412 commented on #11
@rajeshpanjiyar keep patience 🥰 you will be assigned only after completion of previous job

[2021-02-24 10:33] rajeshpanjiyar commented on #22
![image](https://user-images.githubusercontent.com/78999467/108987882-e94c8480-76bb-11eb-83d9-4d8c19197170.png)

Yeah text size is bigger now

[2021-02-24 10:40] rajeshpanjiyar commented on #22
I will push this logo in a pull request on 1st March,, Will it be fine?

[2021-02-24 10:44] ayan-biswas0412 commented on #36
@rajeshpanjiyar so the logo is fine for now you can make PR on 1st march and I am assigning this to you now

[2021-02-24 10:59] aniketsingh98571 commented on #39
@ayan-biswas0412 I can go ahead with this...

[2021-02-24 11:16] ayan-biswas0412 commented on #39
sure.

[2021-02-24 13:11] batman005 commented on #28
@ayan-biswas0412  okay sure

[2021-02-24 14:50] rajeshpanjiyar commented on #36
Due to some other reason, I removed myself from this. Please pardon me!

[2021-02-24 17:07] Sapna2001 commented on #43
@ayan-biswas0412 can I work on this as a part of GSSOC 2021. Plz, assign me this issue I will start working on this when the contribution period starts.

[2021-02-24 17:23] aniketsingh98571 commented on #39
@ayan-biswas0412 , what to do for the images because extracting from the web is not feasible and also if we try to upload it on Github and then use it, then also it will not work and do you want any information to be displayed on the card besides, logo, name, and URL. The logo is to be provided as an image inside the card?

[2021-02-24 17:59] ayan-biswas0412 commented on #43
you can Start working and make the PR on march 1

[2021-02-24 18:00] ayan-biswas0412 commented on #39
download the images and save in assets folder and import them as needed, for now as I have described above make the card like that and do PR then I will review

[2021-02-24 21:38] ayan-biswas0412 opened #47 "Setup an authstack navigator in hotel-admin-frontend"
**Is your feature request related to a problem? Please describe.**
make two sample routes ```Home.js``` and ```Dashboard.js``` and setup the authentication navigator for now just define authState by hardcoding userState say ``loggedIn``` and ```loggedOut``` and based on that Home should be accessed in both modes but dashboard can only be accessed in logged in mode

[2021-02-24 21:39] ayan-biswas0412 opened #48 "setup react-native paper in customerfrontend app"
**Is your feature request related to a problem? Please describe.**
Setup the React native paper theming in the customer frontend app you can take help from https://callstack.github.io/react-native-paper/

[2021-02-25 10:50] aniketsingh98571 commented on #39
https://user-images.githubusercontent.com/63097956/109142597-131dae00-7785-11eb-9b17-07e1ba1ad3ae.mp4

@ayan-biswas0412  Is this fine? Works on all aspect devices. Regarding the images, we have to just provide the relative path of image in the `logo` .

[2021-02-25 14:59] shreyanshi16 commented on #11
Hey! I am a part of GSSoc program and I would like to solve this issue. Can you please assign this issue to me?

[2021-02-25 15:29] ayan-biswas0412 commented on #11
Hi @shreyanshi16 thank you for your interest but this issue was previously assigned to @anushkasinghal11 but you can take this and make a PR but if she does a PR first then we will give preference to her PR you may look for the other issues in this repo or you can take this issue also

[2021-02-25 17:32] ayan-biswas0412 commented on #39
yeah fine just increase the spacing between the cards

[2021-02-26 04:31] aniketsingh98571 commented on #44
@ayan-biswas0412, I can go with this issue.

[2021-02-26 06:30] ayan-biswas0412 commented on #44
@aniketsingh98571 after completion of your previous task please let me know then i will assign you here

[2021-02-26 06:36] aniketsingh98571 commented on #44
ok sure

[2021-02-26 09:40] ayan-biswas0412 opened #50 "make a feature section in main website"
**Is your feature request related to a problem? Please describe.**
make a component ```SystemFeature.js```  inside ```hotelontouch``` and provide a proper svg from undraw and write one heading ```Completely Open Sourced Hotel Management System```` and under that add the project description by copying from Readme.

[2021-02-26 09:45] ayan-biswas0412 opened #51 "Readme netlify badge error"
**Describe the bug**
In the Readme, the netlify badges are showing the statuses of the last build (be it a PR preview deploy or a production main branch deploy ) but the expected behavior is it must show the latest main branch build status only

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Readme.md

**Expected behavior**
Only show the main branch deploy status

**Screenshots**
![im

[2021-02-26 09:47] ayan-biswas0412 opened #52 "Add a try good first issue section in main website"
**Is your feature request related to a problem? Please describe.**
Add a button in the main website which will have link to all the good first issues of this repository , show your creative work you may use svgs to make it cool , more innovative ideas are welcome feel free to suggest design

[2021-02-27 11:03] khareyash05 commented on #52
Hi! I would like to work on this issue as a part of GSSOC'21.

[2021-02-27 11:09] khareyash05 commented on #38
Hi! I would like to work on it as a part of GSSOC'21

[2021-02-27 11:25] nlok5923 commented on #52
i would like to work on it please assign it to me.

[2021-02-27 11:28] nlok5923 commented on #50
please can you assign this issue to me i would like to work on it.

[2021-02-27 11:29] ayan-biswas0412 commented on #38
@khareyash05 sure but make sure you follow all the guidelines of GSSoc 2021

[2021-02-27 11:29] ayan-biswas0412 commented on #50
@nlok5923  sure go ahead

[2021-02-27 11:30] ayan-biswas0412 commented on #52
@nlok5923 you can work on a single issue at a time please complete your previously assigned issue then comment here I will then assign you

[2021-02-27 11:31] ayan-biswas0412 commented on #26
@ashirbad29 you have not made contributions in this issue for a long time so I am unassigning you , if you want to still work on this please comment

[2021-02-27 11:33] ayan-biswas0412 commented on #16
@vinit-churi you have not contributed for a long time in this issue so I am removing you from assignees if you want to still work on this issue please let me know via this thread

[2021-02-27 11:37] vinit-churi commented on #16
@ayan-biswas0412  Sorry for the delay, I started working on it today, can I use external CSS for this pages and NavLink or do I have to use the styled components, I will have a pull request by tomorrow.

[2021-02-27 11:46] ayan-biswas0412 commented on #16
@vinit-churi you can go with styled component no issues

[2021-02-27 13:31] ashirbad29 commented on #26
sorry, I am waiting for the GSoC program to start

[2021-02-27 13:34] Junaid55 commented on #22
![20210227_130741_0000](https://user-images.githubusercontent.com/77045046/109388669-8ca4d000-792e-11eb-89dc-be9f8cc8b3b3.png)

[2021-02-27 13:35] Junaid55 commented on #22
![20210227_180329_0000](https://user-images.githubusercontent.com/77045046/109388688-b0681600-792e-11eb-81f4-4dbd23f9803c.png)

[2021-02-27 13:37] Junaid55 commented on #22
Animated logo
https://user-images.githubusercontent.com/77045046/109388732-edcca380-792e-11eb-93c1-48e9f483670c.mp4

[2021-02-27 15:49] ayan-biswas0412 commented on #22
good work @Junaid55 🥰 you can also make one PR once GSSOC coding period starts

[2021-02-27 15:49] ayan-biswas0412 commented on #26
@ashirbad29 GSoC or GSSoc ? 😅

[2021-02-27 15:58] Junaid55 commented on #22
Thanks for your response

[2021-02-27 16:04] Junaid55 commented on #22
Suggest me one from both of above logo

[2021-02-27 16:32] vinit-churi commented on #16
https://user-images.githubusercontent.com/39941072/109393140-2fb51400-7946-11eb-9e62-a2c96ee7805e.mp4

@ayan-biswas0412  please see if this satisfies the requirement
- [x] Add routes for different pages make PageOne.js and PageTwo.js and define their corresponding routes under src/App.js and also integrate React Bootstrap
- [x] all pages should be under src/pages
- [x] show one bootstrap in both o

[2021-02-27 16:43] ayan-biswas0412 commented on #16
you should make a PR to get a review on a coding work => but apart from that you must maintain the style of what we have done in the ```hotelontouch``` folder

[2021-02-27 16:44] ayan-biswas0412 commented on #22
I go for the first one , you should make more aesthetic improvements on that and in the animation also

[2021-02-27 20:54] ayan-biswas0412 opened #55 "Add our Solutions Section in the main website"
**Is your feature request related to a problem? Please describe.**
make the component inside ```hotelontouch/src/components``` , Give the name ```OurSolution.js``` and use good svgs and small description (refer Readme) about the three project modules

1. Hotel Guest App
2. Hotel Admin App
3. Hotel Services End App

[2021-02-28 09:28] ashirbad29 commented on #26
I want to work on this issue, can you please assign me again, and what should be the convention for branch names

[2021-02-28 10:04] ayan-biswas0412 commented on #26
there is no convention till now but please follow the contribution guides

[2021-02-28 10:16] ashirbad29 commented on #26
do we have any discord servers or groups for more discussion on this issue?

[2021-02-28 11:12] ayan-biswas0412 commented on #26
keep patience @ashirbad29 the official team of GSSoc 2021 will give you all the details shortly

[2021-02-28 11:21] vinit-churi commented on #35
@ayan-biswas0412  can I work on these.

[2021-02-28 11:36] vinit-churi commented on #47
by authentication navigation do you mean, there should be a home and dashboard nav-menu-item along with login button on navbar  with hard coded functionality that when the user clicks on it the userState will become loggedln and he can access the protected route that is dashboard?

[2021-02-28 11:43] ayan-biswas0412 commented on #47
@vinit-churi yes and you can also use useEffect hook to handle the signing flow like for now keep a functiontion signIn () which returns loggedin state after 5 secs and for this 5 secs the loading spinner should be visible

[2021-02-28 11:49] ayan-biswas0412 commented on #35
@vinit-churi go ahead

[2021-02-28 14:41] ayan-biswas0412 opened #57 "Add this label at the start of the Readme"
**Is your feature request related to a problem? Please describe.**

[![CodeFactor](https://www.codefactor.io/repository/github/ayan-biswas0412/gssoc2021-hotelontouch/badge)](https://www.codefactor.io/repository/github/ayan-biswas0412/gssoc2021-hotelontouch)

Just copy the below text to get the label
[code]
Add it at the first of the Readme file

[2021-03-01 00:39] aniketsingh98571 commented on #44
@ayan-biswas0412 can I go with this now?

[2021-03-01 04:53] tanay13 commented on #57
Please assign this to me

[2021-03-01 05:02] ayan-biswas0412 commented on #44
sure

[2021-03-01 05:02] ayan-biswas0412 commented on #57
sure @tanay13

[2021-03-01 07:48] aniketsingh98571 commented on #44
@ayan-biswas0412  Should I replace all the contents inside `readme.md` of `hotelontouch` with my contents.

[2021-03-01 08:35] ayan-biswas0412 commented on #44
yah

[2021-03-01 16:45] aniketsingh98571 commented on #44
![Screenshot (117)](https://user-images.githubusercontent.com/63097956/109529306-9d467900-7adb-11eb-97cc-450208c88190.png)
@ayan-biswas0412  Is it fine?

[2021-03-01 17:14] ayan-biswas0412 commented on #44
setting up project and how to contribute section is not needed we need only the technical structure of the project starting from ```index.js``` and if you give a folder structure that would be better and don't explain the components only explain the pages also and how to export in ```components/index.js``` and ```pages/index.js```

[2021-03-01 17:18] aniketsingh98571 commented on #44
@ayan-biswas0412  I will add the folder structure too, but I advice you to keep `setting up` and `how to contribute` section also as it will help beginners who don't have any knowledge in reactjs.

[2021-03-01 17:23] ayan-biswas0412 commented on #44
Thank you for your suggestion actually there is a separate guide for that you can [link](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/wiki/Setup-React-App) this in your documentation

[2021-03-01 17:25] aniketsingh98571 commented on #44
Okay got it, and also it would be great if you could add GSSoC label also for PR's and issues with their difficulty level as it will help mentors to allot points as well as look for only GSSoC related PR and issues.

[2021-03-01 17:50] ayan-biswas0412 commented on #44
yah sure we will do that , just waiting for the official instructions from GSSoc regarding that

[2021-03-02 16:32] aniketsingh98571 commented on #44
![Screenshot (123)](https://user-images.githubusercontent.com/63097956/109680872-ec0b1600-7ba2-11eb-92e5-30e3f12cbe52.png)
@ayan-biswas0412  Is it fine now?

[2021-03-02 16:34] aniketsingh98571 commented on #44
I have provided the links to the particular sections,

[2021-03-02 16:34] ayan-biswas0412 commented on #44
it looks good but please make a PR then only I can give you actual review

[2021-03-02 16:35] aniketsingh98571 commented on #44
ok raising the PR now..

[2021-03-02 16:37] aniketsingh98571 commented on #44
@ayan-biswas0412 Check it

[2021-03-02 17:36] ayan-biswas0412 commented on #44
yes I have given my review please resolve those

[2021-03-03 07:45] vinit-churi commented on #35
@ayan-biswas0412 can I use react-query? github provides both REST and GraphQL api , which one should be used in this project?

[2021-03-03 07:47] ayan-biswas0412 commented on #35
you can use any of them as per your convinience

[2021-03-03 09:56] Doringl commented on #38
Can i help you ?

[2021-03-03 10:18] code-gidi commented on #38
Is this project under GSoC2021?

[2021-03-03 10:41] ayan-biswas0412 commented on #38
no it is not under GSoC 2021

[2021-03-04 01:48] Doringl commented on #38
I will handle it.

[2021-03-04 10:35] ayan-biswas0412 commented on #38
@Doringl good work and I have given some reviews , and please be patient , after assigning in an issue please make your PR but till then please be patient

[2021-03-04 13:41] san0808 commented on #51
can you describe the bug more

[2021-03-04 14:22] ayan-biswas0412 commented on #51
actually these badges are showing the status of the latest build that happened (be it a CI check or it is a main branch build) but I want only the main branch build status to be shown here

[2021-03-05 09:18] vinit-churi commented on #25
@ayan-biswas0412 I would like to work on these

[2021-03-05 09:21] ayan-biswas0412 commented on #25
sure go ahead

[2021-03-05 09:34] vinit-churi commented on #25
@ayan-biswas0412  For these feature, the data of "active PR" should be fetched in homepage and pass PR link and status as props to the PullRequest component right.?
Should the PullRequest component be similar to Allcontributors component (I mean the card layout and all)

[2021-03-05 09:36] ayan-biswas0412 commented on #25
obviously the layout will not be same it should look like a PR and the colour change is necessary rest of the things you said is ok

[2021-03-06 22:48] ayan-biswas0412 commented on #13
@khushi935 do you want to work in this ?

[2021-03-07 02:26] khareyash05 commented on #52
Hey I would like to work on this issue under GSSOC'21

[2021-03-07 04:40] san0808 commented on #51
<img width="427" alt="Screenshot 2021-03-07 100842" src="https://user-images.githubusercontent.com/72181610/110229132-2e2eb180-7f2d-11eb-8e73-0e5535d8fa27.png">
i tried checking for settings but i think only the person who deployed can change it

[2021-03-07 04:42] san0808 commented on #51
check this website for more info https://docs.netlify.com/site-deploys/overview/
check for site ->overview->then branch deploy settings

[2021-03-07 04:55] ayan-biswas0412 commented on #51
Thanks I will surely look into it

[2021-03-07 04:56] ayan-biswas0412 commented on #52
You can work but I can merge your PR on or after 8th March

[2021-03-07 06:24] san0808 opened #63 "the link to view the working of app in browser is not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/tree/main/hotelontouch ' and go to the heading yarn test
![image](https://user-images.githubusercontent.com/72181610/110231090-a2705180-7f3b-11eb-964e-827a63c8418f.png)

2. Click on 'http://localhost:3000 '

[2021-03-07 06:27] san0808 commented on #51
is this a part of functioning in gssoc21 ?
//since it is my first time working properly in open source i was simply asking //

[2021-03-07 11:43] ayan-biswas0412 commented on #63
@san0808 ```yarn test``` is giving error because there is no as such javascript tests specified I think , if you feel same let me know , I will be highly obliged if you give possible solutions

[2021-03-07 11:45] ayan-biswas0412 commented on #51
the thing you specified already I have done that before but still the error is there in Readme

[2021-03-07 13:39] san0808 commented on #63
ok i will look into it

[2021-03-07 16:58] aniketsingh98571 commented on #55
@ayan-biswas0412 Actually what we have to do for this issue, I am not getting it.

[2021-03-07 17:46] ayan-biswas0412 commented on #55
actually you have to make three cards which have some cool svgs (you can take them from undraw or whatever you want) and the three cards should be mobile responsive and they should be rendered in homepage

[2021-03-07 21:35] #11 closed

[2021-03-07 21:35] #16 closed

[2021-03-07 21:35] #28 closed

[2021-03-07 21:35] #39 closed

[2021-03-07 21:35] #44 closed

[2021-03-07 21:35] #57 closed

[2021-03-07 21:46] #35 closed

[2021-03-08 10:13] shreyanshi16 commented on #22
Hey, @ayan-biswas0412 I designed a logo for this project.
![WhatsApp Image 2021-03-08 at 1 02 40 PM](https://user-images.githubusercontent.com/53462278/110307205-a9bf5a00-8024-11eb-8dc2-5f7b7f6bb25e.jpeg)
![WhatsApp Image 2021-03-08 at 1 01 00 PM](https://user-images.githubusercontent.com/53462278/110307209-aaf08700-8024-11eb-88db-8a55a9d0fae8.jpeg)

 Please review it.

[2021-03-08 10:24] ayan-biswas0412 commented on #22
@shreyanshi16 second one seems very cool

[2021-03-08 12:45] ayan-biswas0412 opened #69 "Add a title project admin"
**Is your feature request related to a problem? Please describe.**
Add a title project admin before the picture of the project admin edit the ```hotelontouch/src/components/AdminCard.js```
and make UI improvement of the card if possible more interactive designs are welcome

[2021-03-08 12:47] ayan-biswas0412 opened #70 "Make responsive navbar"
**Is your feature request related to a problem? Please describe.**
The current navbar in the website is kind of old age type, make it such that it look good
edit the ```hotelontouch/src/components/NavbarComponent.js```

[2021-03-08 12:48] ayan-biswas0412 opened #71 "Enhance the Welcome to project section"
**Is your feature request related to a problem? Please describe.**
Enhance the Welcome component add some cool svgs make responsive design if possible show your creativity, good animated designs are most welcome

[2021-03-08 12:49] ayan-biswas0412 opened #72 "Enhance the We are a part of section"
**Is your feature request related to a problem? Please describe.**
1. Enlarge the text size of the We are a part of
2. Make style improvements in the section, use some cool animations if possible

[2021-03-08 14:09] Muditxofficial commented on #70
@ayan-biswas0412 please assign this to me

[2021-03-08 14:28] ayan-biswas0412 commented on #70
@Muditxofficial yeah sure

[2021-03-08 14:37] ayan-biswas0412 opened #73 "go to wiki addition"
**Is your feature request related to a problem? Please describe.**

Add a line at the end of the Readme , ```Go the the Wiki for more info```
and give this like as [Click Here](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/wiki)

[2021-03-08 15:18] Anjali041 commented on #73
Please assign it to me as a part of Gssoc'21

[2021-03-08 15:44] shreyanshi16 commented on #22
![WhatsApp Image 2021-03-08 at 9 05 22 PM](https://user-images.githubusercontent.com/53462278/110344029-18b3a780-8053-11eb-9c9b-db37248fb99a.jpeg)
@ayan-biswas0412 Please tell me what modification should I make further?

[2021-03-08 16:08] padmajabhol commented on #71
Hello, I m interested to contribute in this particular issue, will be glad if you assign me this.

[2021-03-08 16:28] Ankita297 commented on #72
Can i  work on this issue ?

[2021-03-08 16:31] rajeshpanjiyar commented on #72
@Ankita297, I am already working on this. If you don't mind can I continue towards the pull request?

[2021-03-08 18:02] ayan-biswas0412 commented on #22
please make the colour of the text Hotelontouch  black

[2021-03-08 18:03] ayan-biswas0412 commented on #71
yeah sure @padmajabhol

[2021-03-08 18:04] ayan-biswas0412 commented on #72
@aniketsingh98571 if you are in midway you can also make a PR (it is up to you) but as @Ankita297 has requested before so we will give preference to her.

[2021-03-08 18:06] ayan-biswas0412 commented on #73
sure @Anjali041

[2021-03-08 18:12] Ruchip16 commented on #70
Can I work on this issue?

[2021-03-08 18:14] Ruchip16 commented on #69
Can I work on this issue ?

[2021-03-08 18:19] ayan-biswas0412 commented on #70
see one is already assigned in this you are requested to see other issues

[2021-03-08 18:19] ayan-biswas0412 commented on #69
@Ruchip16 sure go ahead

[2021-03-08 18:45] shreyanshi16 commented on #22
![hotelOntouch4](https://user-images.githubusercontent.com/53462278/110366612-8ae4b600-806c-11eb-821e-2ec36dfb8ac7.png)

[2021-03-08 19:08] ayan-biswas0412 commented on #22
@shreyanshi16 nice now you can make a PR with the last pic , name the file logo_yourusername

[2021-03-08 19:14] ayan-biswas0412 opened #76 "typo in config.yml"
https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/blob/bcfd5264ca7a0517c9ba46069d54f6eb18ed1088/.github/config.yml#L15

change the line to : you can find different issues
check there is a typo

[2021-03-08 19:36] shreyanshi16 commented on #22
Thanks! I will make a PR but can please tell me in which folder I have to add a logo?
Can I add a logo to hotelontouch/src/assets/ ?

[2021-03-08 19:44] Anjali041 commented on #76
Please assign this to me.

[2021-03-08 21:33] ayan-biswas0412 commented on #22
yes you should

[2021-03-08 21:33] ayan-biswas0412 commented on #76
sure @Anjali041

[2021-03-09 03:01] Muditxofficial commented on #70
![navbar](https://user-images.githubusercontent.com/63860014/110412093-a625e480-80b1-11eb-9f6d-983d3e04f50e.png)
Is this good enough ?

[2021-03-09 03:34] ShyrenMore commented on #36
Hello, could you please assign me this issue, I need 15-20 days for making this

[2021-03-09 04:22] aniketsingh98571 commented on #55
@ayan-biswas0412 What information to be included in the card?

[2021-03-09 04:29] aniketsingh98571 commented on #55
Is this issue the same as #42 ?

[2021-03-09 04:35] aniketsingh98571 commented on #55
I would like to go with it, just explain to me the answers to the above questions?

[2021-03-09 05:43] ayan-biswas0412 commented on #70
yeah looks good just change the colour to match site theme

[2021-03-09 05:44] ayan-biswas0412 commented on #36
I think 15-20 days is soo long

[2021-03-09 05:46] ayan-biswas0412 commented on #55
yah sorry for the duplication it is same but go with this issue not #42 i will close that

[2021-03-09 05:46] ayan-biswas0412 commented on #42
duplicate #55

[2021-03-09 05:46] #42 closed

[2021-03-09 06:07] #12 closed

[2021-03-09 06:07] #22 closed

[2021-03-09 06:07] #73 closed

[2021-03-09 06:43] aniketsingh98571 commented on #55
@ayan-biswas0412 can you assign it to me?

[2021-03-09 06:44] subhangi2731 commented on #48
can you please assign it to me?

[2021-03-09 06:45] subhangi2731 commented on #47
can you please assign it to me?

[2021-03-09 06:45] subhangi2731 commented on #13
can you please assign this to me?

[2021-03-09 06:48] ayan-biswas0412 commented on #55
sure @aniketsingh98571

[2021-03-09 06:49] ayan-biswas0412 commented on #48
sure @subhangi2731

[2021-03-09 06:49] ayan-biswas0412 commented on #47
please work on a single issue @subhangi2731 first submit a PR for your assigned work then only I can assign you here

[2021-03-09 06:50] ayan-biswas0412 commented on #13
@subhangi2731 work for a single issue please

[2021-03-09 07:10] padmajabhol commented on #71
@ayan-biswas0412 Hello, I have sent the PR.

[2021-03-09 07:35] ayan-biswas0412 commented on #71
see I have given some comments there

[2021-03-09 08:40] ayan-biswas0412 opened #82 "Tentative Task List"
- [ ] Hotel Registration (In Admin Console)
- [ ] Login system Development in Admin End
- [ ] Hotel Admin Can create their profile
- [ ] They Can add / remove rooms
- [ ] Can create sub sections in hotel (restraunt/bar etc)
- [ ] They Can create users and assign roles to various departments
- [ ] Invoice Generation and Management
- [ ] Login System Development in User End (in The mobile app)
- [ ]

[2021-03-09 08:48] ayan-biswas0412 commented on #82
can you give your thoughts on this @JanviMahajan14 @sahilit

[2021-03-09 09:52] Ruchip16 commented on #69
thanks @ayan-biswas0412

[2021-03-09 10:01] Ruchip16 commented on #69
@ayan-biswas0412 does this project has contributing guidelines?

[2021-03-09 11:14] ayan-biswas0412 commented on #50
@nlok5923 are u working ?

[2021-03-09 11:14] ayan-biswas0412 commented on #50
@abhishek7997 wait for @nlok5923 if he is not working then go ahead

[2021-03-09 11:20] Vi1234sh12 commented on #63
@ayan-biswas0412  Can I work on this?

[2021-03-09 11:51] nlok5923 commented on #50
@ayan-biswas0412 you can assign @abhishek7997 on it as currently I am.busy somewhere else.

[2021-03-09 11:59] JanviMahajan14 commented on #82
Hi @ayan-biswas0412  I think the task can be divided on the basis of various modules present in the project. I think we can start with developing the register/login page in the admin module as it will be beginner-friendly followed by CRUD functionality of ADMINS. Just wanna ask if there are some UI mockups planned by you?

[2021-03-09 12:20] ayan-biswas0412 commented on #63
go through the wiki of this GitHub repo

[2021-03-09 12:23] ayan-biswas0412 commented on #82
@aniketsingh98571 take the lead and kindly research and start making initial issues on this and also search if we can integrate already built dashboards in it or not , for now I have no UI plans yet , you can start planning those and please start writing issues for the small tasks and link the issues here

[2021-03-09 12:32] JanviMahajan14 opened #83 "Move Items in the Navbar to center"
**Describe the bug**
On resizing the screen in the main [website](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/tree/main/hotelontouch) HotelOnTouch the Home section in the navbar aligns to left. We want to align the text in the center.

**Steps to reproduce**
1. Run the HotelOnTouch module locally on the system.
2. Resize the window
4. See the bug in the Navbar for the Home section.

[2021-03-09 12:37] JanviMahajan14 commented on #82
Sure ! I will work on it and create issues accordingly.

[2021-03-09 12:40] JanviMahajan14 commented on #83
Sure @san0808 . Go for it :)

[2021-03-09 13:00] JanviMahajan14 opened #84 "Adding a Favicon in the title bar"
**Module**: HotelOnTouch main [website](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/tree/main/hotelontouch)

Currently, there is react icon favicon present in the title bar. We want to change it to the logo of the project. The logo is present [here](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/tree/main/hotelontouch/src/assets). Also change the name of logo_shreyanshi16.

[2021-03-09 13:06] khareyash05 commented on #84
Hey ! Can i work on this issue?

[2021-03-09 13:13] dhruvinfo28 commented on #84
Hey, shall I work on this issue.

[2021-03-09 13:16] JanviMahajan14 commented on #84
Since it is First Come First Serve @khareyash05 you can go with it!

[2021-03-09 13:16] dhruvinfo28 commented on #52
I'd like to contribute for this under GSSOC'21. Kindly assign me.

[2021-03-09 13:57] SrirajBehera commented on #51
can i work in this issue? I am GSSOC 21 participant.

[2021-03-09 14:10] SrirajBehera commented on #52
I want to contribute to this issue. I am a GSSOC 21 Participant.

[2021-03-09 14:19] shreyanshi16 commented on #52
I would like to work on this issue under GSSOC'21, could I?

[2021-03-09 14:26] ayan-biswas0412 commented on #51
you can but we have yet not decided that if this issue is workable or not

[2021-03-09 16:26] abhishek7997 commented on #50
Should SystemFeature.js be created just inside hotelontouch or hotelontouch/src/components ?

[2021-03-09 16:43] ayan-biswas0412 commented on #52
@shreyanshi16 @SrirajBehera @dhruvinfo28 you can try to make good designs also in this issue most innovative solution wil be taken

[2021-03-09 16:43] ayan-biswas0412 commented on #50
it will be under homepage and as your said the feature will reside in hotelontouch or hotelontouch/src/components

[2021-03-09 16:49] abhishek7997 commented on #50
Okay

[2021-03-09 17:02] abhishek7997 commented on #50
By home page, do you mean it should be under the jumbotron component or the Allcontributors component?

[2021-03-09 17:05] abhishek7997 commented on #50
Is this configuration correct ?

![image](https://user-images.githubusercontent.com/68701271/110509086-bbd5f100-8127-11eb-9ed5-2b2fc44205a3.png)

[2021-03-09 17:27] abhishek7997 commented on #50
![image](https://user-images.githubusercontent.com/68701271/110512023-d78ec680-812a-11eb-8a90-e834e5fbf827.png)

This is the updated one with svg

[2021-03-09 17:59] abhishek7997 commented on #50
Is the new configuration with svg image file correct?

[2021-03-09 19:58] SARVESHKHANDELWAL commented on #83
Hello @ayan-biswas0412 ,
Can i work on this issue.

[2021-03-09 21:12] ayan-biswas0412 commented on #50
kindly mention this in PR not in issues

[2021-03-09 21:13] ayan-biswas0412 commented on #83
@SARVESHKHANDELWAL please wait we will be opening few new issues very soon , already one person is assigned in this issue

[2021-03-09 21:58] #84 closed

[2021-03-10 02:19] abhishek7997 commented on #50
I have made the PR, but how do I create and add a link to the updated website? Netlify is giving error.

[2021-03-10 06:21] ayan-biswas0412 commented on #50
given a review kindly go through that

[2021-03-10 06:23] ayan-biswas0412 opened #88 "a merging flow needed"
**Is your feature request related to a problem? Please describe.**
I think always merging to the main branch is an inefficient way for a long project like this I have thought a flow like this

participant PR -> (merge to) -> develop branch -> weekly merging to main
please put your views and take necessary steps (documentation updation in the wiki)

[2021-03-10 10:38] samyakjain10 commented on #47
Hey! I want to work on this issue under GSSOC'21. Can you assign this issue to me??

[2021-03-10 11:56] sayna3311 commented on #71
I would love to work on this issue. Please, assign this to me :)

[2021-03-10 15:44] ayan-biswas0412 opened #90 "Enhancement in the main website"
**Is your feature request related to a problem? Please describe.**

Our Website is in the initial stage and all the development is done under the folder ```hotelontouch``` please go through that and we need more innovative ideas to make the website awesome , so more ideas are welcome here , please first discuss your idea in the comment and then if approved my a mentor then open an issue first and

[2021-03-10 15:55] ayan-biswas0412 opened #91 "Tagging previous merged PRs as per GSSoC badge rule"
**Is your feature request related to a problem? Please describe.**
please check the linked issue badge levels and add them in the already merged PRs. and also add ```Gssoc2021``` label in the PRs

@sahilit are you available for doing this ?

[2021-03-11 05:55] nehathakur27 commented on #13
I would like to work on this issue.

[2021-03-11 09:11] shreyanshi16 commented on #52
@ayan-biswas0412 Here is my designs for a good first issue section:

![design1](https://user-images.githubusercontent.com/53462278/110762697-16ca2e00-8277-11eb-9078-34b4925dd5b7.png)
![design2](https://user-images.githubusercontent.com/53462278/110762706-1893f180-8277-11eb-8d91-c7d0b5f0be35.png)

Tell me if you like any of the designs.

[2021-03-11 09:59] ayan-biswas0412 commented on #52
@shreyanshi16 first one seems cool can you implement in code and make a PR

[2021-03-11 11:47] SARVESHKHANDELWAL commented on #83
Okyy @ayan-biswas0412

[2021-03-11 11:53] Prajwal-ctrl opened #94 "Switchable Dark Mode for website"
Hi @ayan-biswas0412 @shreyanshi16 i'm a GSSOC 21 participant can i work on this issue ? please let me know

[2021-03-11 12:09] ayan-biswas0412 commented on #94
@Prajwal-ctrl sure go ahead

[2021-03-11 14:07] lavanya243 opened #95 "Add favicon to the website"
Add favicon feature to the website
[favicon (6).zip](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/files/6123503/favicon.6.zip)

Hey @ayan-biswas0412, @shreyanshi16 , @Anjali041, I am a GSSOC, 2021 participant and I want to add favicon feature in the website. Can I work on this issue?

[2021-03-11 14:23] Prajwal-ctrl commented on #94
![Screenshot (69)_LI](https://user-images.githubusercontent.com/63673431/110800796-95889080-82a2-11eb-9268-4e0bb2938e90.jpg)

i have a dependency issues with material-ui yarn in hotelontouch directory package.json
i tried yarn with the other two directories , they work properly  , @ayan-biswas0412  can you please help with this one ?

[2021-03-11 14:26] Prajwal-ctrl commented on #94
i am not able to start this with localhost

[2021-03-11 14:50] nehathakur27 commented on #13
![Screenshot_20210311-201627](https://user-images.githubusercontent.com/36047037/110805409-0e89e700-82a7-11eb-96e3-eee2e7420363.jpg)
@ayan-biswas0412  Is this okay?

[2021-03-11 16:00] ayan-biswas0412 commented on #94
remove node_modules/ and yarn.lock then perform yarn and yarn start again see what happens

[2021-03-11 16:02] ayan-biswas0412 commented on #13
make a PR and attach all screenshots in the PR message

[2021-03-11 18:07] Prajwal-ctrl commented on #94
![Screenshot (72)](https://user-images.githubusercontent.com/63673431/110833260-3f2b4a00-82c2-11eb-93ae-e37a16a1e937.png)

### same issue most of the dependencies version are old i guess , i stuck on it only from last 4-5 hrs  😕 @JanviMahajan14  @ayan-biswas0412 @vinit-churi

[2021-03-11 18:37] ayan-biswas0412 commented on #94
reinstall node and yarn on your local machine

[2021-03-11 21:14] GuptaTanisha commented on #90
@ayan-biswas0412 Please assign this to me

[2021-03-11 22:06] ayan-biswas0412 commented on #90
first make sure you read the issue

[2021-03-11 22:07] ayan-biswas0412 commented on #95
@lavanya243 can you specify where you want to add this ?

[2021-03-12 00:15] singhayushh commented on #90
Hello @ayan-biswas0412 ,
The very first feature that should be implemented is a user account creation - either as an admin or employee or customer.

**Customer Specific Features**
- Booking a hotel room
- Requesting either of laundry service, room service management, bar, restaurant order management
- Rating and reviewing

**Admin Specific Features**
- Customer management: operations to CRUD custo

[2021-03-12 03:46] RiaKokate commented on #90
Hello @ayan-biswas0412 ,
I hope you are fine and doing well.
I would like to work on this project . Would you please assign it to me?

[2021-03-12 03:57] cryptofox17 commented on #90
@ayan-biswas0412 I would like to work on this issue.
I noticed that on desktop site the contribution section is taking most of the space because there are only 2 cards in each row. I want to improve on this arrangement.
Also, the footer is not responsible so I want to fix It.
Please assign this issue to me

[2021-03-12 05:53] lavanya243 commented on #95
Hi,
@ayan-biswas0412, I want to add the favicon feature in the files mentioned below:

1. gssoc2021-HotelOnTouch/hotel-admin-frontend/public/index.html
2. gssoc2021-HotelOnTouch/hotel-restraunt-frontend/public/index.html
3. gssoc2021-HotelOnTouch/hotelontouch/public/index.html

[2021-03-12 06:25] ayan-biswas0412 commented on #95
sure

[2021-03-12 06:26] ayan-biswas0412 commented on #90
seems good you can make issue/s(maybe multiple issue on this and can start work) i will label with proper level according to the issues

[2021-03-12 06:27] ayan-biswas0412 commented on #90
please read the issue once again

[2021-03-12 06:27] ayan-biswas0412 commented on #90
sure you can make one issue and start working

[2021-03-12 06:38] lavanya243 commented on #95
@ayan-biswas0412 , Can i proceed with the issue?

And, I am unable to run the project. Can you please check?
![pic](https://user-images.githubusercontent.com/69483128/110902295-a4675580-832b-11eb-8998-8da7af0fcfbc.png)

[2021-03-12 07:18] ankitaugale23 commented on #90
Hello, @ayan-biswas0412 I have 3 enhancements in my mind.
1. MAking the navbar look more lively.
2. Make some change to footer and adding some styling such as text over there will take less space (will add on hover kinda effects) so initially, it will take less space.
3. And the card at the top of the page we can add some effects to that too so it would look more attractive.
4. Will add a logo to

[2021-03-12 08:30] singhayushh opened #98 "[Backend] Setting up the User Schema"
### Issue Reference
[View Issue Reference](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues/90#issuecomment-797267459)

### About this issue
Currently, there's just a dummy backend server setup for the project. To start with, the first focus must be setting up the user schema. As mentioned in the reference issue comment, there are to be three types of users - admin, employee and cu

[2021-03-12 08:33] singhayushh opened #99 "[Backend] Setting up the Service Schema"
### Issue Reference
[View Issue Reference](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues/90#issuecomment-797267459)

### About this issue
Following the user schema, the next focus is to set up the service schema. Services include laundry service, room service management, bar, restaurant order management etc as to be added by the admin.

[2021-03-12 08:36] singhayushh opened #100 "[Backend] Setting up the Review and Badge Schema"
### Issue Reference
[View Issue Reference](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues/90#issuecomment-797267459)

### About this issue
Customers will have to option to review and rate the services and admins will have the feature the reward employees with badges for their work performance. Since these two models are relatively smaller and easier than User and Service, I have

[2021-03-12 08:42] singhayushh opened #101 "[Backend] Basic User Endpoints"
### Issue Reference
[View Issue Reference](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues/90#issuecomment-797267459)

### About this issue
The various operations or functionalities to be covered:
- CRUD users (as employee or customer)
- Hotel Room booking
- Admin routes to for making admin / removing admin (Users can only register as employees or customers. Only existing admins c

[2021-03-12 08:44] singhayushh opened #102 "[Backend] Basic Service Endpoints"
### Issue Reference
[View Issue Reference](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues/90#issuecomment-797267459)

### About this issue
The various operations or functionalities to be covered:
- CRUD Services (admins only)
- Request a service (customer only)
- Assign and track service (admins only)

[2021-03-12 08:47] singhayushh opened #103 "[Backend] Review and Badge Endpoints"
### Issue Reference
[View Issue Reference](https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/issues/90#issuecomment-797267459)

### About this issue
The various operations or functionalities to be covered:
- CRUD Badges (admins only)
- Assign badges (admins only)
- Review service (customers only)

[2021-03-12 08:48] ayan-biswas0412 commented on #90
sure but make sure you open issues based on this (you may open multiple issues and after opening tag me such that I can assign proper levels on the issues)

[2021-03-12 08:50] ayan-biswas0412 commented on #98
@singhayushh I see that you have referenced all of your PRs at all the issues , but please keep one PR -> one issue that will be easy for us to track changes

[2021-03-12 08:51] singhayushh commented on #90
@ayan-biswas0412

I have created issues for each of the major functionalities as milestones but I forgot to tag you in them. So, here's a gentle notice.

[2021-03-12 08:52] singhayushh commented on #98
@ayan-biswas0412
Yes surely, I'll be doing that!

[2021-03-12 08:52] ayan-biswas0412 commented on #100
@singhayushh please update the issue body , like what is the work of this ```Setting up the Review and Badge Schema``` part only you can reference to my main issue on this but don't generalise the issues/PRs just make one issue -> one PR ,
you may raise as many as issues but provide proper brief description of work and link a single PR

[2021-03-12 08:53] ayan-biswas0412 commented on #98
sure please edit all of the issues

[2021-03-12 08:53] ayan-biswas0412 commented on #98
sorry my bad ... please edit the issue bodies

[2021-03-12 08:55] ayan-biswas0412 commented on #101
keep one single task list and link multiple issue in the 'Task List' only don't mention all them at all places

[2021-03-12 08:57] ayan-biswas0412 commented on #90
@singhayushh goo work , just edit all of your issues and then get back , I will assign you one by one

[2021-03-12 08:59] singhayushh commented on #90
Yes definitely. I'll move on to next issues only when the previous PR gets reviewed and merged with all necessary amendments as required.
I have edited all issue bodies and hopefully I can start working on them now...

[2021-03-12 09:03] ankitaugale23 commented on #90
Sure Thank you!

[2021-03-12 09:08] ankitaugale23 opened #104 "Add Styling to Jumbotron/Homepage Heading div"
Adding styling and some effects to jumbotron at the top of the homepage.
@ayan-biswas0412 please add respective tags with GSSoC tag also so I can start working on the issue.

[2021-03-12 10:03] cryptofox17 opened #105 "Improve the Contribution section and fix the footer"
**Describe the bug**
This isn't a bug, but the footer doesn't occupy 100% of the width on mobile devices. So I want to make it responsive. Also, want to enhance the contribution section as right now it occupies a lot of space since there are only 2 cards per row.

**To Reproduce**
Steps to reproduce the behavior:
-

**Expected behavior**
Footer to be responsive

**Screenshots**
-

**Device Informa

[2021-03-12 10:06] ayan-biswas0412 commented on #105
sure

[2021-03-12 10:21] cryptofox17 commented on #105
Thank you for assigning me this issue @ayan-biswas0412

[2021-03-12 11:34] samyakjain10 commented on #47
@ayan-biswas0412 Sir i am unable to figure out where the feature needs to be added. Can you explain in detail??

[2021-03-12 11:45] Prajwal-ctrl commented on #94
![Screenshot (74)](https://user-images.githubusercontent.com/63673431/110936099-5d428a00-8356-11eb-8623-1ea1ac163a32.png)
![Screenshot (75)](https://user-images.githubusercontent.com/63673431/110936106-616ea780-8356-11eb-95ac-adf1d1ed9bd4.png)

### Here are some screenshots...

[2021-03-12 11:48] Prajwal-ctrl commented on #94
![Screenshot (74)](https://user-images.githubusercontent.com/63673431/110936391-d4781e00-8356-11eb-8a81-0b6b49bb7ca0.png)
![Screenshot (75)](https://user-images.githubusercontent.com/63673431/110936401-d7730e80-8356-11eb-81d4-21d0a9392e20.png)

### @ayan-biswas0412  here are some screenshots . When we click on the Navbar button switch theme it switch to dark mode (vice-versa)

[2021-03-12 11:49] ayan-biswas0412 commented on #94
kindly make a PR such that i can review

[2021-03-12 11:50] Prajwal-ctrl commented on #94
okay

[2021-03-12 12:59] samyakjain10 commented on #47
Sorry. I am unable to complete the given task!

[2021-03-12 13:47] Ankita297 commented on #72
![HotelOnTouch - Google Chrome 12-03-2021 19_15_43](https://user-images.githubusercontent.com/67833077/110948486-6851e600-8367-11eb-96ba-35206469ea80.png)

[2021-03-12 13:47] Ankita297 commented on #72
Sir is it okay ?

[2021-03-12 13:51] rohank2502 opened #107 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:51] rohank2502 opened #108 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:56] udaymittal7 commented on #98
I want to work on the user schema, routes and controller.

[2021-03-12 14:06] ayan-biswas0412 commented on #72
please make PR then only I can give you a proper review otherwise the design is ok

[2021-03-12 14:07] ayan-biswas0412 commented on #107
@rohank2502 can you explain more what you want to do in this ?

[2021-03-12 14:07] Ankita297 commented on #72
okay Sir .

[2021-03-12 14:07] ayan-biswas0412 commented on #108
sure go ahead @rohank2502

[2021-03-12 14:08] ayan-biswas0412 commented on #98
@singhayushh can you guide him and divide tasks between yourself

[2021-03-12 14:35] rohank2502 commented on #108
Thanks !!

[2021-03-12 14:36] rohank2502 commented on #107
I will like to add the logo of each tech stack used as img

[2021-03-12 14:50] ayan-biswas0412 commented on #107
ohh sure

[2021-03-12 15:07] rohank2502 commented on #107
Thanks !!

On Fri, Mar 12, 2021 at 8:20 PM AYAN BISWAS ***@***.***>
wrote:

[2021-03-13 06:26] aniketsingh98571 commented on #55
@ayan-biswas0412 Is there any need to add buttons also to cards. for redirection into a particular section?

[2021-03-13 07:12] aniketsingh98571 commented on #55
![Screenshot (124)](https://user-images.githubusercontent.com/63097956/111022568-70f2fc80-83f9-11eb-8cbe-26b1de0cfd30.png)
This is what I have done uptill now, Is this SVG fine, and do I need to replace the button with some text?

[2021-03-13 09:04] sahuaman83 commented on #95
Can I work on this issue? I am able to run the project

[2021-03-13 10:10] udaymittal7 commented on #102
@ayan-biswas0412 Can i take this task as a participant of GSSOC'21?

[2021-03-13 11:27] ayan-biswas0412 commented on #55
great but please change the svgs because three of them seems very closely related line you have to distinguish between (guest/admin and services) please make PR to get quick review

[2021-03-13 11:28] ayan-biswas0412 commented on #95
go ahead

[2021-03-13 11:29] ayan-biswas0412 commented on #102
please clarify from @singhayushh ,
@singhayushh can you guide him regarding the work ?

[2021-03-13 11:33] singhayushh commented on #102
Yes surely,
@udaymittal7, before you start the work you need to have a clear idea of the project backend - what all features are in target. To work on this issue, the service model needs to be created and approved before working with the endpoints. There is a separate issue raised for the service and you have to work on that before taking up the current issue. Or just wait till someone works with

[2021-03-13 11:44] ayan-biswas0412 commented on #102
@singhayushh I will merge your PR with first priority , please resolve the thing I have commented and ask for a review I will merge it

[2021-03-13 12:34] udaymittal7 commented on #102
@singhayushh Yeah, I have read the reference issue. Can we have a meet or proper discussion about how the whole backend will be build so we all can divide the tasks and know what we have to do. Just a suggestion.

[2021-03-13 13:10] singhayushh commented on #102
@udaymittal7
We can talk over discord if you'd want.

[2021-03-13 14:24] ayan-biswas0412 commented on #102
ping me over then then we can decide a time

[2021-03-13 14:28] udaymittal7 commented on #102
@ayan-biswas0412 @singhayushh Yeah we can discuss over the project channel so other participants can discuss too.

[2021-03-13 16:25] aniketsingh98571 commented on #105
@cryptofox17 Can you provide a screenshot of which device the footer is not taking the full 100% width because I only made the footer, so after that, I checked it too and also just checked now on all devices it is working fine.

[2021-03-13 17:17] cryptofox17 commented on #105
@aniketsingh98571 I just checked it on my phone and it didn't take 100% of the width. But on chrome dev tools it works fine except for galaxy fold device.
I am attaching the screenshot showing how it looks on my phone :
![Screenshot_20210313-224523481](https://user-images.githubusercontent.com/64403591/111038283-1f289180-844e-11eb-8f82-19f925f3960b.jpg)

[2021-03-13 18:12] ayan-biswas0412 commented on #105
you may raise a bug on this

[2021-03-13 20:51] udaymittal7 opened #115 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload

If you find it relevant, please assign me.
I am a participant of GSSOC'21 so please add the relevant GSSOC tags too.

[2021-03-14 12:41] ayan-biswas0412 commented on #115
yah sure you can work on this

[2021-03-14 13:53] abhinav5481 commented on #103
Hi
I would like to work on this issue as part of GSSOC'21. Could you please assign it to me ?

[2021-03-14 13:54] abhinav5481 commented on #99
I would like to work on it as part of GSSOC'21. Could you please assign this issue to me?

[2021-03-14 13:57] singhayushh commented on #99
@abhinav5481
I created a series of 6 issues to be self assigned actually.

There are a lot of other parts in the backend you can take up!

[2021-03-14 15:21] Aditya201551 opened #119 "[FRONTEND] [GSSOC' 21] Adding dark mode to the website"
Adding a toggle button on the navbar so the user can toggle to light and dark mode anywhere anytime

@ayan-biswas0412  I Would like to contribute to this feature so it would be great if you assign me this task!

ThankYou(GSSOC '21 participant)

[2021-03-14 16:03] ankitaugale23 commented on #104
I will make a PR tomorrow till 9 pm.

[2021-03-14 16:17] ayan-biswas0412 commented on #103
kindly consult with @singhayushh

[2021-03-14 16:28] ayan-biswas0412 commented on #99
@singhayushh are you in my project discord channel then we can discuss further on backend and @abhinav5481 please wait for @singhayushh he is managing the backend issues for now

[2021-03-14 16:35] ayan-biswas0412 commented on #119
Duplicate #94 issue please see that one and you can work on that issue I am closing this

[2021-03-14 16:35] #119 closed

[2021-03-14 18:51] #13 closed

[2021-03-14 18:51] #50 closed

[2021-03-14 18:51] #70 closed

[2021-03-14 18:51] #72 closed

[2021-03-14 18:51] #76 closed

[2021-03-14 18:51] #101 closed

[2021-03-14 18:51] #108 closed

[2021-03-15 04:54] singhayushh commented on #98
Hello, the last merged PR covered this issue. Can you please assign this to me before closing the issue for the records?

[2021-03-15 06:22] #98 closed

[2021-03-15 07:25] Aditya201551 commented on #119
okay

[2021-03-15 07:35] ayan-biswas0412 opened #122 "Docker Configuration needed for local development"
**Is your feature request related to a problem? Please describe.**
Looking for suggestions that how a docker composer can be done such that user has not to take headache to setup project locally

[2021-03-16 12:22] ayan-biswas0412 opened #123 "Create a app launching page in hotelontouch"
**Is your feature request related to a problem? Please describe.**
make a page /applaunch inside hotelontouch
the page should describe app of hotelontouch you may use cool svgs and make it creative and all components should reside under /components

[2021-03-16 16:25] mohammedjameel24 opened #124 "DARK MODE UI"
##Dark mode Ui

[2021-03-16 16:35] ayan-biswas0412 commented on #124
#94 duplicate , please refer this issue
@mohammedjameel24

[2021-03-16 16:35] #124 closed

[2021-03-16 16:37] ayan-biswas0412 opened #125 "backend deployment suggestions"
**Is your feature request related to a problem? Please describe.**
how to deploy properly the backend some ideas needed

[2021-03-16 16:37] mohammedjameel24 commented on #94
Assign me this issue am sure ill be able to add this feature

[2021-03-16 16:37] ayan-biswas0412 commented on #125
@singhayushh can you put your thoughts

[2021-03-16 16:39] ayan-biswas0412 commented on #94
sure

[2021-03-16 16:56] singhayushh commented on #125
If this application is just a working prototype of the idea rather than a full fledged application, I'd recommend heroku as it is better suited for backend hosting.

[2021-03-16 17:11] abhishek7997 commented on #123
Please assign me the issue. @ayan-biswas0412

[2021-03-16 17:34] ankitaugale23 commented on #104
I am done with the work. But just wanted to confirm once that I have added an extra react library to implement some functionality.
So should I go ahead and make a PR. (ASking this because you haven't explicitly mentioned it and I did that for one project and it was not allowed.) Kindly tell me what should I do?

[2021-03-16 18:28] AshuKV commented on #123
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 18:34] ayan-biswas0412 commented on #125
yah I also feel same can you provide me detailed steps to deploy to Heroku ?

[2021-03-16 18:34] ayan-biswas0412 commented on #104
sure no problem just mention it in PR message

[2021-03-16 18:38] ayan-biswas0412 commented on #123
preference will be given to most creative designs

[2021-03-16 18:57] AshuKV commented on #122
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 19:07] singhayushh commented on #125
There are two ways by which you can deploy the app on heroku.
One is using just the online interface which is really very simple and easy to use. You just need to sign up on the [heroku platform](https://dashboard.heroku.com/apps), create a new app followed by linking the repository and simply opting for automatic deployment or manual deployment.

The other is using git cli, if you like to work wi

[2021-03-16 19:11] ayan-biswas0412 commented on #122
you are already assigned to another one I think

[2021-03-17 03:53] rohank2502 commented on #107
Please Assign this issue to me so I can start work on this !

[2021-03-17 04:15] abhishek7997 commented on #123
@ayan-biswas0412 Should I add a redirect to '/applaunch' as well? Or just creating the files is needed?

[2021-03-17 04:45] ankitaugale23 commented on #104
sure thanks. Making a PR now.

[2021-03-17 06:52] ayan-biswas0412 commented on #107
sure

[2021-03-17 10:44] khareyash05 opened #127 "add contributing.md"
Hey! I would like to create a file named contributing.md add the following -
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I will mention each and every step. This will act as on

[2021-03-17 10:52] farseenmanekhan1232 commented on #71
I would love to work on this issue . Please assign me.

[2021-03-17 11:09] farseenmanekhan1232 commented on #94
What is the updates on this issue?
Is the issue resolved ?
If No , Can you please assign me this issue , I can try to help with this issue..

[2021-03-17 12:20] ayan-biswas0412 commented on #127
Please see this https://github.com/ayan-biswas0412/gssoc2021-HotelOnTouch/wiki/Contributing

you can make a short file and redirect to this such that participants see the wiki

[2021-03-17 12:20] ayan-biswas0412 commented on #94
you can work

[2021-03-17 12:21] ayan-biswas0412 commented on #71
you are already assigned to another issue

[2021-03-17 13:29] aniketsingh98571 commented on #125
@singhayushh @ayan-biswas0412 I think we are using nodejs in this project, so will it be required to add serverless functions to it...because I have one of my projects made using nodejs but as soon as I deployed it on netlify it gave an error regarding you need serverless functions for it........

[2021-03-17 13:41] singhayushh commented on #125
I have deployed general nodejs applications on heroku before without the errors you mentioned of. But if we are able to add serverless functions, it'll be really great as there are a lot of advantages of serverless apps.

[2021-03-17 13:52] aniketsingh98571 commented on #125
Can you guide me how to deploy [this](https://github.com/aniketsingh98571/HeaLearn) on netlify or heroku

[2021-03-17 14:43] silentWatcher3 commented on #107
@rohank2502 start "work" on this you mean 👍

[2021-03-17 15:19] singhayushh commented on #125
You need to have your app.js in the root directory. Workaround for sub directories -> [View Solution](https://github.com/heroku/heroku-buildpack-nodejs/issues/385)

[2021-03-17 15:55] ayan-biswas0412 commented on #125
@singhayushh can you guide me like our backend folder is only needed to be deployed in the Heroku (not the entire repo so how to do that)

[2021-03-17 20:23] singhayushh commented on #125
Okay. I'll need a week's time though. Have exams going on. Please excuse me for a week 😅

[2021-03-18 04:34] singhayushh opened #131 "[Backend] Middleware for user authentication needed"
**Is your feature request related to a problem? Please describe.**
A middleware for user authentication is needed to limit access to certain routes.

**Describe the solution you'd like**
The middleware should access the jwt token from the Authentication Header, decode it to fetch the email and _id of the user. It should then search for the user either in the Staff collection or the Customer collec

[2021-03-18 06:11] ooreally opened #132 "Adding register/signin page"
@ayan-biswas0412 I would like to add a register (#action/3.1) / SignIn   (#action/3.2 ) page whenever a user clicks on register or signIn.

[2021-03-18 07:51] Vi1234sh12 commented on #132
Hii @JanviMahajan14,  can  I work on this issue?

[2021-03-18 08:39] ayan-biswas0412 commented on #131
issue labelled and assigned to @singhayushh

[2021-03-18 08:44] ayan-biswas0412 commented on #132
go ahead @ooreally

[2021-03-18 12:58] jain-rishabh-21 commented on #122
Hey can you assign it to me!
Discord: krackerzzz#4371

[2021-03-18 13:01] ayan-biswas0412 commented on #122
have you worked in docker before ?

[2021-03-18 17:53] shreyanshi16 commented on #38
Is the issue has been solved? If no then can I work on this issue if no one is working?

[2021-03-18 21:36] ayan-biswas0412 commented on #38
sure

[2021-03-18 21:45] ayan-biswas0412 opened #134 "Restaurant dashboard making"
**Is your feature request related to a problem? Please describe.**
A restaurant side dashboard need to be made all the works should be done in the ```hotel-restraunt-fronted``` this is an advanced level issue requires multiple contributions and also looking for new ideas , this issue will accept multiple PRs from multiple persons

[2021-03-19 14:07] ShambhaviSharma0110 commented on #134
hey! I would like to work on this please allow me...
-gssoc '21 participant

[2021-03-19 14:07] ShambhaviSharma0110 commented on #132
hey! I would like to work on this please allow me...
-gssoc '21 participant

[2021-03-19 15:19] ayan-biswas0412 commented on #134
sure go ahead

[2021-03-19 15:19] ayan-biswas0412 commented on #132
you are already assigned to another issue

[2021-03-19 17:24] mohammedjameel24 commented on #94
Merged #128

[2021-03-19 19:39] ooreally commented on #132
@ayan-biswas0412 thanks for assigning.

[2021-03-20 11:13] subhangi2731 commented on #47
Hello @ayan-biswas0412 in this do we have to create the stack navigator and do the whole authentication setup?

[2021-03-20 12:21] ayan-biswas0412 commented on #47
yes but you can mock the authentication part just by creating a function login() and return true always

[2021-03-21 14:37] shreyanshi16 commented on #38
Hi @ayan-biswas0412, Please review my PR and let me know if there are any changes required.

[2021-03-21 22:08] ayan-biswas0412 opened #138 "After deployment routes are missing"
**Describe the bug**
Maybe It is netlify error please research on this and make a possible solution

[2021-03-22 06:53] akshitakanojia commented on #138
Hi @ayan-biswas0412 , can I work on this issue?

[2021-03-22 09:01] #37 closed

[2021-03-22 15:39] shawavisek35 opened #141 "Navbar Improvement"
**Is your feature request related to a problem? Please describe.**
Currently, the Navbar of the website is looking kinda very simple, and to attract visitors to the website I think we need a good navbar.

**Describe the solution you'd like**
I would like to change the design of the Navbar.

**Describe alternatives you've considered**
I would make fonts a little fancier and would use a better colou

[2021-03-22 16:04] ayan-biswas0412 commented on #141
sure

[2021-03-22 16:17] #38 closed

[2021-03-22 16:17] #55 closed

[2021-03-22 16:17] #94 closed

[2021-03-22 16:17] #99 closed

[2021-03-22 16:17] #131 closed

[2021-03-22 16:18] #107 closed

[2021-03-22 17:04] ShyrenMore commented on #36
hey @ayan-biswas0412 I am halfway through making the about page, however, I can't introduce routing, in which file am I suppose to use Link, Switch and Router component?

[2021-03-23 12:09] ayan-biswas0412 commented on #36
in App.js

[2021-03-23 22:44] ayan-biswas0412 opened #144 "Backend api needed for restaurant service management"
**Is your feature request related to a problem? Please describe.**
check the ```backend``` folder to understand the structure and this api is for managing of hotel services please feel free to discuss about data models like how to manage various hotel service and what are the end points needed please comment on this issue first and make your choice and make another issue based on what you want to

[2021-03-23 22:45] ayan-biswas0412 opened #145 "Backend api needed for laundry service management"
**Is your feature request related to a problem? Please describe.**
check the ```backend``` folder to understand the structure and this api is for managing of hotel services please feel free to discuss about data models like how to manage various hotel service and what are the end points needed please comment on this issue first and make your choice and make another issue based on what you want to

[2021-03-23 22:46] ayan-biswas0412 opened #146 "Backend api needed for customer end service ticket raising"
**Is your feature request related to a problem? Please describe.**
check the ```backend``` folder to understand the structure and this api is for managing of hotel services please feel free to discuss about data models like how to manage various hotel service and what are the end points needed please comment on this issue first and make your choice and make another issue based on what you want to

[2021-03-23 22:48] ayan-biswas0412 opened #147 "Backend api needed for food ordering system from restaurant"
**Is your feature request related to a problem? Please describe.**
check the ```backend``` folder to understand the structure and this api is for managing of hotel services please feel free to discuss about data models like how to manage various hotel service and what are the end points needed please comment on this issue first and make your choice and make another issue based on what you want to

[2021-03-23 22:50] ayan-biswas0412 opened #148 "Some new ideas needed to enhance the fronted of various web components"
**Is your feature request related to a problem? Please describe.**
There are several web apps in this project so looking for ideas for enhancing them looking for ideas . please feel free to open issues.Check various folders for react apps.

### Note
Minor colour change improvement is not acceptable
Minor font improvement is strongly discouraged

### Only looking to develop new components for the w

[2021-03-24 05:53] shreyanshi16 opened #149 "UI Design for Homepage"
**Is your feature request related to a problem? Please describe.**
Design the UI of the whole homepage so that all the components can be designed according to a fixed layout.

**Are you working on this? (Yes/No)**
Yes, I want to work on this issue.

[2021-03-24 05:55] ayan-biswas0412 commented on #149
@shreyanshi16 in which tool you want to design it I would suggest you in figma

[2021-03-24 06:13] shreyanshi16 commented on #149
Ya, I will design it in Figma. I want to ask which color scheme and font you want?

[2021-03-24 06:13] AshuKV commented on #148
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-24 06:18] singhayushh commented on #102
@udaymittal7 My PR for service schema has been merged yesterday finally. Now you may proceed with the end points and modifications. Do not forget to checkout and reply in issues 144, 145, 146 and 147.

[2021-03-24 06:21] singhayushh commented on #103
@abhinav5481, sure you can work on this. Checkout issue 100 and work on that before starting with this issue.
All the best!

[2021-03-24 09:30] ayan-biswas0412 commented on #149
be creative as much as you can and follow the colour scheme of the main website

[2021-03-24 09:32] ayan-biswas0412 commented on #148
I think you have not read the issue

[2021-03-24 09:34] ayan-biswas0412 commented on #48
@subhangi2731 are you working ?

[2021-03-24 12:52] Ruchip16 commented on #69
@ayan-biswas0412  in admin card where do we need to add title ?

[2021-03-24 12:57] ayan-biswas0412 commented on #69
in the card itself

[2021-03-24 13:00] Ruchip16 commented on #69
onst AdminCard = ({
  projectAdminName = 'Ayan Biswas',
  GitHubUserName = 'ayan-biswas0412',
  webSite = 'https://ayanbiswas.in',
}) => {
  return (
    <StyledCardContainer>
      <StyledCard border='primary'>
        <StyledImage
          variant='top'
          src={`https://avatars.githubusercontent.com/${GitHubUserName}`}
        />
        <Card.Body>
          <Card.Title style={{ textAli

[2021-03-24 13:01] ayan-biswas0412 commented on #69
make a pr then only I can give your review

[2021-03-24 13:02] Ruchip16 commented on #69
I am not able to understand that do I need to add a const render card? like the one you added in opensourceprogramme.js to add title we are a part of ?

[2021-03-24 18:09] Ruchip16 commented on #69
@ayan-biswas0412  I have created a PR check once , plz merge it and give PR for review I will do the necessary changes

[2021-03-25 12:07] sonal251001 opened #152 "README.md"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
In the README.md we could add a list of open-source oraganisations that this project has been a part of.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2021-03-25 15:50] ayan-biswas0412 commented on #152
@sonal251001 i have already said that this type of small changes will not be entertained

[2021-03-25 15:50] #152 closed

[2021-03-25 16:31] Sukriti-sood commented on #147
@ayan-biswas0412 I am interested in working on this, I think there can be two  models "Orders","Menu"

[2021-03-25 16:48] Athira2199 commented on #144
Hi @ayan-biswas0412 I think it would be helpful, if you make a list of requirements this endpoint has to suffice. By doing that it will be easier to come to a conclusion as what all would be the endpoints that we have to design. Based on that we could prepare a swagger documentation. Then it would be easier to go on with the development process. We will be using NodeJS for providing different APIs

[2021-03-25 18:08] Varun8216889 commented on #51
As a beginner, I want to contribute but I am not able to find the issue.
Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me or suggest me one.

[2021-03-25 18:10] ayan-biswas0412 commented on #147
can you open an issue and explain both the models

[2021-03-25 18:15] ayan-biswas0412 commented on #144
you can check the backend folder already swagger is integrated and documentation part is ok basically for restraunt serve management here is the workflow what I need in the main application

user logged in to account -> can see various restraunts of his/her hotel -> choose restaurant -> add food to cart -> order them -> pay by cash/online -> invoice generation

[2021-03-25 18:15] #88 closed

[2021-03-25 18:15] #91 closed

[2021-03-25 18:17] ayan-biswas0412 commented on #51
sure

[2021-03-26 04:20] Sukriti-sood opened #153 "Adding Order Api and Menu"
Relate to issue  #147
For Food Odering System , I was thinking of Having of having Order and Menu Order
Order Model will contain:-
- Customer (Object Id)
- Dishes (Array of Object Id of Menu Items)

Menu  Model will contain:-
- DIsh Name
- Dish Price

@ayan-biswas0412  Have a look at issue and I want to work on this

I want to make this functionality using Mongodb and express framework(nodejs )

[2021-03-26 05:38] ayan-biswas0412 commented on #153
@Sukriti-sood go ahead

[2021-03-26 18:56] GurshehzadSingh commented on #43
im a gssoc participant and i would like to work on this isuue.

[2021-03-26 18:59] GurshehzadSingh commented on #148
adding a button on bottom right so that when user hits it, the onclick function of the button takes the user to the top of the website

[2021-03-27 04:50] hsnice16 opened #156 "contact path is reloading"
**Describe the bug**
When we are clicking on the contact us option from the homepage. The page is getting reload. But as we are using react Js for the frontend. We can prevent it from reloading.

**Expected behavior**
When we click on the contact us option, only the path should change. And this should happen without reloading the page.

**Are you working on this issue? (Yes/No)**
Yes, I would like

[2021-03-27 05:27] sandra9711 commented on #132
@ayan-biswas0412
I'm a GSSOC'21 participant. can I work on this issue?

[2021-03-27 10:41] ayan-biswas0412 commented on #148
yah you can make one issue and start working

[2021-03-27 10:43] ayan-biswas0412 commented on #156
Go ahead @hsnice16 and nice bug finding

[2021-03-27 10:44] ayan-biswas0412 commented on #132
go ahead

[2021-03-27 11:47] PuneetPunamiya opened #157 "Configure eslint and prettier for the UI application"
Configure eslint and prettier for the UI application

- The UI application should have a lint and prettier configuration which will
keep the code in one format (for e.g. proper spacing, etc) and will make
the code look preetier as well

 - Configuring `eslint` and `preetier`  and executing the commands like
 `npm run lint` and `npx prettier --write .`  will give the warnings/errors
  which the dev

[2021-03-27 11:48] PuneetPunamiya commented on #157
Hey @ayan-biswas0412
I'm the participant of GSSOC'21 could you please assign me this issue

[2021-03-27 12:44] ayan-biswas0412 commented on #157
if is there any GitHub action there please search on that because we don't want to run manual test

[2021-03-27 15:54] sharvariiii opened #158 "Correcting the English grammar, spelling, punctuation on the home page"
Hello Mentors , I wish to correct some of the English grammar, spelling, punctuation on the home page so that it will be more appealing .Looking forward to working on this issue as a GSSOC 21 participant. Thank you:)

[2021-03-27 16:00] sharvariiii opened #159 "Corrections of English grammar, spelling, punctuation errors in the README.md"
Hello Mentors , I would be happy to correct some of the English grammar, spelling, punctuation errors in the README.md. Looking forward to working on this issue as a GSSOC 21 participant. Thank you:)

[2021-03-27 16:01] SavneetKaur01 commented on #159
I want to work on this issue. Please assign me the same. Thanks.

[2021-03-27 16:22] jainaayush01 opened #160 "ADD a CONTRIBUTING.MD file."
adding a contributing.md file to the codebase

**Additional context**
It will be helpful for others to know how to contribute to this project.

**Are you working on this? (Yes/No)**
Yes

[2021-03-27 16:24] ayan-biswas0412 commented on #158
can you be more specific what are wrong , and I will me more than happy if you modify contents of various pages

[2021-03-27 16:25] ayan-biswas0412 commented on #159
again can you be more specific ?

[2021-03-27 16:25] ayan-biswas0412 commented on #160
we don't need one of this because the project readme is self sufficient

[2021-03-27 16:25] #160 closed

[2021-03-27 17:22] sharvariiii commented on #158
Corrections are shown in blue rectangle. Can I go ahead with this?

![pic1](https://user-images.githubusercontent.com/78595265/112728304-911fd100-8f4c-11eb-95c2-c70da4d55869.png)

![pic2](https://user-images.githubusercontent.com/78595265/112728300-8ebd7700-8f4c-11eb-882d-4e59d9d611c3.png)

![pic3](https://user-images.githubusercontent.com/78595265/112728303-90873a80-8f4c-11eb-880b-b6eb59f34cdf.pn

[2021-03-27 17:23] sharvariiii commented on #159
Corrections are shown in blue rectangle. Can I go ahead with this?

![pic11](https://user-images.githubusercontent.com/78595265/112728739-b1e92600-8f4e-11eb-9e44-655ffa061d0b.png)

![pic12](https://user-images.githubusercontent.com/78595265/112728734-b01f6280-8f4e-11eb-93e9-9256a82ac06a.png)

[2021-03-27 18:57] ayan-biswas0412 commented on #158
go ahead

[2021-03-27 18:57] ayan-biswas0412 commented on #159
go ahead

[2021-03-28 09:19] shreyanshi16 commented on #149
https://user-images.githubusercontent.com/53462278/112747416-f0c0bf80-8fd2-11eb-868a-1e52c6fdb62b.mp4

Here is the UI design of the Homepage. Please have a look!

[2021-03-28 17:16] aniketsingh98571 commented on #149
@shreyanshi16 Its pretty good and clean....great work....just one suggestion, in the Lead Developer section of @ayan-biswas0412
Please add all the links to the card only...
For your reference 0:30 secs in the video.... rest @ayan-biswas0412  will know pretty more about it....

[2021-03-28 18:42] #105 closed

[2021-03-28 23:36] ayan-biswas0412 commented on #149
@aniketsingh98571 what you have suggested is very good
but @shreyanshi16 till now our primary need is to design the actual platform and your design is very good no doubt but you can try to design one single end like maybe the hotel admin app or the guest app.

[2021-03-29 07:06] shreyanshi16 commented on #149
@aniketsingh98571 Thank you and I will make the suggested changes.
@ayan-biswas0412 I thought you want to enhance the frontend of the existing website but no problem I will try to design one single end.

[2021-03-29 10:09] ayan-biswas0412 commented on #149
yeah sure

[2021-03-29 16:26] Ankita297 commented on #71
Can i work on this ? @ayan-biswas0412

[2021-03-30 07:20] Varun8216889 commented on #51
@ayan-biswas0412 I am stuck.
I don't know how this process should run I tried many times but it still giving the same error. plz help through a specified path

[2021-03-30 16:12] Ankita297 commented on #69
Can i work on this ? @ayan-biswas0412

[2021-03-30 16:13] Ankita297 commented on #83
@ayan-biswas0412  Can i work on this ?

[2021-03-31 18:55] aj3011 opened #164 "custom scroll bar"
**Is your feature request related to a problem? Please describe.**
 No. I want to update the scroll bar so that it looks more appealing relative to the rest of the site.

**Describe the solution you'd like**
 I've figured out a way to change the design of the existing scroll bar.

**Additional context**
![image](https://user-images.githubusercontent.com/71029690/113196121-fd822500-9217-11eb-9e05-5

[2021-04-01 06:09] ayan-biswas0412 opened #165 "Looking for new maintainer"
I am looking for a new maintainer for this project, interested candidates may mail their cv at ayan.biswas@judh.in
with their cv (please only provide your development background)

Mail Subject: Application for Maintainers | HotelOnTouch

### It is not for beginners

[2021-04-01 17:37] GurshehzadSingh commented on #148
Alright

[2021-04-01 17:41] GurshehzadSingh opened #166 "Adding a dark mode using toggle button on the landing page."
**Is your feature request related to a problem? Please describe.**
Creating a toggle button for adding dark mode on the website

**Describe the solution you'd like**
Adding a button which can change the color of background to black and the text to white when onClick event occurs.

**Are you working on this? (Yes/No)**
Yes

[2021-04-01 17:45] GurshehzadSingh opened #167 "Adding a button which takes user to the topmost part of the website from anywhere."
**Is your feature request related to a problem? Please describe.**
The user might want to go the to the top but he would have to wait for the scroll to end. So this button may help in this situation.

**Describe the solution you'd like**
Adding a button which takes user to the topmost part of the website from anywhere. This button shall be appearing on the bottom right only when the user has reach

[2021-04-02 09:41] Tanya933 opened #169 "[GSSOC'21] UI modification of admin-card in the homepage"
I would like to modify the UI of the admin-card in the homepage . Currently the UI of the card is somehow not matching the overall UI of the page,it needs modifications.

**Are you working on this? (Yes/No)**
Yes , I would like to work on this issue.

Please assign this issue to me .Thankyou.

[2021-04-02 11:11] ayan-biswas0412 commented on #166
it is already developed

[2021-04-02 11:11] #166 closed

[2021-04-02 14:55] Ankita297 commented on #69
@ayan-biswas0412

[2021-04-02 16:52] #95 closed

[2021-04-02 17:51] #52 closed

[2021-04-02 21:14] jain-rishabh-21 commented on #122
Yes I have worked on docker before, sorry to reply late, please assign me the issue

[2021-04-03 14:53] Ankita297 commented on #69
@ayan-biswas0412  you have assign the ui design of card   issue to someone ? So should i only change the title ?

[2021-04-03 15:24] #115 closed

[2021-04-03 16:58] CMELAKKIA commented on #148
i can add new themes to the website

[2021-04-04 00:52] akshay1027 opened #171 "Links in the readme to open in a new tab"
**Is your feature request related to a problem? Please describe.**
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

**Are you working on this? (Yes)**

[2021-04-04 00:52] akshay1027 opened #172 "Improve footer UI"
**Is your feature request related to a problem? Please describe.**
Improvements we can add to Footer are @ayan-biswas0412  :
1)Find us with logo
2)Call us with logo
3)Mail us with logo
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email add

[2021-04-04 09:00] Ankita297 commented on #132
@ayan-biswas0412  Can i work on this ?

[2021-04-04 13:21] CMELAKKIA commented on #148
@ayan-biswas0412  I can also enhance the style of all the buttons

[2021-04-05 23:32] aj3011 commented on #164
@ayan-biswas0412 Would you like me to work on this feature?

[2021-04-06 05:33] rakup444 commented on #148
@ayan-biswas0412
I want to move the search bar (in the navbar) to the center.
And make the register, login & contact us buttons on the right side as a legend and remove the SignUp/SignIn menu.

[2021-04-06 13:17] Ankita297 commented on #132
@ayan-biswas0412 ?

[2021-04-06 17:54] aditi1403 opened #175 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #174.

[2021-04-06 22:06] ayan-biswas0412 commented on #172
go ahead @akshay1027

[2021-04-06 22:06] ayan-biswas0412 commented on #148
make an proper issue and start working

[2021-04-07 01:17] rakup444 opened #176 "Change layout of the navbar"
Move the search bar (in the navbar) to the center.
And make the register, login & contact us buttons on the right side as a legend and remove the SignUp/SignIn menu.

@ayan-biswas0412
I want to work on this under gssoc'21.

[2021-04-07 04:55] bswethareddy commented on #148
@ayan-biswas0412 I want to contribute to this project and add Sign In and Sign Up pages to the project. I can ensure that I will add them in same format and same theme as contact page.

[2021-04-07 14:20] Ankita297 commented on #134
@ayan-biswas0412  can i work on this ?
Basically we have to add like services that we provide or anything else ?

[2021-04-08 14:32] GurshehzadSingh commented on #43
Making a PR in a few hours.

[2021-04-08 15:20] Muditxofficial commented on #25
@ayan-biswas0412 Can i work on this issue if its available? Also please add labels to my pull request #81

[2021-04-09 02:39] Ankita297 commented on #132
Can i work on this @ayan-biswas0412 ?

[2021-04-09 16:19] #47 closed

[2021-04-10 18:17] akshay1027 opened #179 "Improve Cards in our solution"
**Is your feature request related to a problem? Please describe.**
Improve the 3 Cards in "our solution". Thinking to add:
1) hover effects
2) better UI
3) shadow effects

**Are you working on this? (Yes/No) YES

[2021-04-10 18:17] akshay1027 commented on #179
Let me know @ayan-biswas0412

[2021-04-10 21:18] ooreally commented on #132
PR#163 made for this issue. Please review it @ayan-biswas0412

[2021-04-11 09:32] #138 closed

[2021-04-11 10:32] #26 closed

[2021-04-11 11:47] hsnice16 commented on #156
Can you please merge my PR for contact path is reloading issue. I just got
an email from stale bot that the issue will get closed.

On Sun 11 Apr, 2021, 5:02 PM stale[bot], ***@***.***> wrote:

[2021-04-11 12:53] aniketsingh98571 commented on #165
Hey @ayan-biswas0412 Is this issue has been resolved?

[2021-04-11 17:16] #141 closed

[2021-04-12 02:29] sharvariiii commented on #159
why so..I have already opened the PR #162 which fixes this issue.

[2021-04-12 09:25] Sukriti-sood commented on #144
@ayan-biswas0412 I want to work on this

[2021-04-12 09:32] Sukriti-sood commented on #145
This is can have a laundary order model that will include information about  type of laundry service,  number of clothes, special instructions, and location.

[2021-04-12 09:35] Sukriti-sood commented on #146
@ayan-biswas0412  Can you explain this issue in bit more detail, Does this mean opening tickets for various services like food ordering , laundry service or any

[2021-04-12 14:31] #36 closed

[2021-04-13 07:31] #102 closed

[2021-04-13 07:31] #103 closed

[2021-04-13 10:31] #48 closed

[2021-04-14 19:44] #147 closed

[2021-04-14 19:44] #82 closed

[2021-04-15 10:33] #153 closed

[2021-04-16 12:01] #100 closed

[2021-04-16 12:01] #90 closed

[2021-04-16 15:29] #157 closed

[2021-04-16 21:03] #158 closed

[2021-04-17 08:49] Tanya933 opened #181 "[GSSOC'21] grammatical errors in the systemFeature component ."
Grammatical errors like spelling mistakes, missing punctuation marks, etc in the systemFeature component of the homepage.

<img width="1440" alt="Screenshot 2021-04-17 at 13 56 17" src="https://user-images.githubusercontent.com/60508925/115107285-7fe44600-9f87-11eb-8060-393e94a98501.png">

Yes, @ayan-biswas0412  I would like to work on this issue.Please assign this issue to me . Thankyou .

[2021-04-17 09:44] #146 closed

[2021-04-18 12:03] #149 closed

[2021-04-19 19:59] #71 closed

[2021-04-19 19:59] #51 closed

[2021-04-19 19:59] #83 closed

[2021-04-21 10:41] #104 closed

[2021-04-21 15:16] ayan-biswas0412 commented on #123
reopen

[2021-04-22 14:17] #169 closed

[2021-04-22 14:18] #125 closed

[2021-04-22 14:18] #167 closed

[2021-04-22 16:03] Ankita297 opened #185 "github action to add autolabel of gssoc on PR"
**Is your feature request related to a problem? Please describe.**
github action to add autolabel of gssoc on PR

**Describe the solution you'd like**
I want to add github action .
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature requ

[2021-04-24 11:09] #69 closed

[2021-04-24 11:56] AB-san opened #186 "Add a github action to auto-reply after a pr is merged"
**Is your feature request related to a problem? Please describe.**
Add a github action to auto-reply after a pr is merged , message like - Thank you @username for your contribution . Looking forward for more such amazing contribution " Or any other as per the mentor's wish

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you

[2021-04-24 11:56] AB-san commented on #186
I would like to work on this issue

[2021-04-24 13:30] #171 closed

[2021-04-26 02:12] #164 closed

[2021-04-26 07:12] subhangi2731 commented on #25
please assign me this

[2021-04-26 07:13] subhangi2731 commented on #122
please assign me this

[2021-04-26 07:13] subhangi2731 commented on #43
please assign me this. I will make a pr by tomorrow

[2021-04-26 07:14] subhangi2731 commented on #144
please assign me this

[2021-04-26 07:15] subhangi2731 commented on #148
please assign me this. I will make a pr by tomorrow

[2021-04-26 07:15] subhangi2731 commented on #172
please assign me this

[2021-04-26 07:16] subhangi2731 commented on #176
please assign me this

[2021-04-26 13:25] Muditxofficial commented on #25
@subhangi2731 are you blind ? Can't see he is not replying.                                                                                                          sorry if this looks rude, pin him on discord no reply since 18 days :(

[2021-04-26 13:28] hsnice16 commented on #156
why the wontfix label?

[2021-04-26 14:49] subhangi2731 commented on #25
@Muditxofficial don't you have manners how to talk to a girl. who are you to talk to me like this first of all you are not admin neither the mentor it's my wish wherever I comment. Have a sense on the language which u are using and the way u are talking.

[2021-04-26 19:41] jain-rishabh-21 commented on #122
Currently working will raise a PR

[2021-04-27 05:44] Muditxofficial commented on #25
@subhangi2731 this is my last reply to whatsoever you will say, first of all i asked first to be assigned that means according to rules i should be assigned or unless i say i don't want to. This also means you haven't read gssoc notice and by commenting assign this to me, you have violated that rule. Your 2nd comment is based on gender which is not at all needed.Third point, i have already said so

[2021-04-27 19:37] #175 closed

[2021-04-29 12:42] KajalSinghBAGHEL commented on #181
Check my pull request

[2021-04-29 17:38] SainiTej commented on #176
Please assign me this issue @ayan-biswas0412

[2021-05-01 09:13] #148 closed

[2021-05-01 09:13] #172 closed

[2021-05-01 09:13] #43 closed

[2021-05-01 13:54] #165 closed

[2021-05-01 13:54] #179 closed

[2021-05-02 20:08] #159 closed

[2021-05-02 20:08] #145 closed

[2021-05-03 07:02] #181 closed

[2021-05-03 14:04] AB-san commented on #186
@ayan-biswas0412  Mentors if you want this feature then please assign me or else you can close the issue

[2021-05-04 06:07] satyampgt4 opened #189 "extra text showing on index page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/59261812/116966095-08bfe900-accd-11eb-9130-fe93e4f1f39b.png)

**unwanted ; is showing on index page**

Add any other context about the problem here.

**Are you working on this issue? (Yes/No)**
yes

[2021-05-04 06:08] satyampgt4 commented on #189
@ayan-biswas0412  i like to work on this issue under gssoc21

[2021-05-04 06:10] satyampgt4 opened #190 "Adding a github action which will automatically add "GSSOC21" label to the issue"
**Is your feature request related to a problem? Please describe.**
Adding labels to the issues are extra work for the maintainer, so we can add GitHub actions to reduce the work of maintainers

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2021-05-04 06:11] satyampgt4 commented on #190
@ayan-biswas0412  I would like to work on this issue as a part of GSSOC21

[2021-05-05 06:21] kumarishalini6 opened #191 "Home page in hotel-admin-frontend"
**Describe the bug**
There is no page in hotel-admin-frontend i want to make home page under GSSoC'21 participant.

[2021-05-05 15:08] kumarishalini6 commented on #191
@ayan-biswas0412  please add level

[2021-05-07 16:56] kumarishalini6 opened #193 "Home page of Hotel-Restaurant-Frontend"
I want to redesign hotel-restaurant-frontend under GSSoC'21 participants.

[2021-05-07 17:08] kumarishalini6 opened #194 "Spalling mistake"
**Describe the bug**
You have made an folder of name "hotel-restraunt-frontend" it should be "hotel-restaurant-frontend" and also in home page

![Inkedgssoc2021-HotelOnTouch - Visual Studio Code 5_7_2021 10_30_03 PM_LI](https://user-images.githubusercontent.com/69043944/117484398-7eb59180-af13-11eb-9670-624351ae8216.jpg)
![InkedReact App - Personal - Microsoft​ Edge 5_7_2021 10_30_24 PM_LI](https:

[2021-05-07 17:08] kumarishalini6 commented on #194
i want to in this issue under GSSoC'21 .

[2021-05-07 18:08] kumarishalini6 commented on #191
Please review my PR

[2021-05-07 23:24] #134 closed

[2021-05-08 04:16] kumarishalini6 commented on #193
@ayan-biswas0412  I have send PR please check it.

[2021-05-08 05:48] #185 closed

[2021-05-09 16:43] subhangi2731 opened #196 "Adding React to the project"
Add React for front-end development. Setup a simple frontend folder with boilerplate code.

[2021-05-09 16:43] subhangi2731 commented on #196
please assign me this issue

[2021-05-10 03:46] subhangi2731 commented on #196
@ayan-biswas0412 can you please assign me this

[2021-05-10 04:56] subhangi2731 commented on #144
@ayan-biswas0412 I want to work on this and will send a pr in 2 days please assign me this

[2021-05-10 15:30] ayan-biswas0412 commented on #196
@subhangi2731 i think we are working in react from the beginning what do you want to do ? can you specify ?

[2021-05-11 06:07] subhangi2731 commented on #196
I was thinking to create a homepage in React and add the content about existing routes and endpoints done in  project. @ayan-biswas0412 Can it be implemented or is any issue open so that I can work on it?

[2021-05-11 10:51] subhangi2731 commented on #196
@ayan-biswas0412 ?

[2021-05-11 10:51] subhangi2731 commented on #144
@ayan-biswas0412 ?

[2021-05-11 13:12] #194 closed, assigned to nobody

[2021-05-11 13:12] kumarishalini6 commented on #194
No need of this issue

[2021-05-11 23:29] #123 closed

[2021-05-12 15:07] kumarishalini6 opened #199 "Adding Menu card in hotel-restaurant-frontend"
**Is your feature request related to a problem? Please describe.**
I want to add a Menu Card option in navbar and want to design the as well in hotel-restaurant-frontend side. can i work on this issue under GSSoC'21.

[2021-05-13 05:47] AbhipsaGuru1012 opened #200 "Replacing sign in/sign up dropdown in navbar with sign in, sing up and contact us buttons"
**Is your feature request related to a problem? Please describe.**
Replacing sign in/sign up dropdown in navbar with sign in, sing up and contact us buttons

**Describe the solution you'd like**
Replacing sign in/sign up dropdown in navbar with sign in, sing up and contact us buttons

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featur

[2021-05-13 05:51] AbhipsaGuru1012 opened #201 "Adding Login Page"
**Is your feature request related to a problem? Please describe.**
Currently the website doesn't have a login page.

**Describe the solution you'd like**
I would like to add a login page

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the featu

[2021-05-13 05:55] AbhipsaGuru1012 opened #202 "Adding sign up page"
**Is your feature request related to a problem? Please describe.**
Currently the website doesn't have a sign up page

**Describe the solution you'd like**
I would like to add the sign up page

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the

[2021-05-13 19:37] N-Shar-ma opened #203 "Contact Us Link should be outside the SignUp/SignIn dropdown"
**Describe the bug**
The Contact Us link is inside the dropdown though it is not related to signing up/in

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://hotelontouch.netlify.app/'
2. See the dropdown in the navbar

**Expected behavior**
Contact Us button / link should be outside the dropdown, screenshot of proposed solution is below:

**Screenshots**
![image](https://user-im

[2021-05-14 13:59] AbhipsaGuru1012 commented on #200
@ayan-biswas0412 please let me know if I can work on this issue?

[2021-05-15 04:55] subhangi2731 opened #204 "LInting the code and setting up Eslint in the project"
I willl lint the code and make the code prettier

[2021-05-15 04:55] subhangi2731 commented on #204
@ayan-biswas0412 please assign me this issue

[2021-05-15 04:57] subhangi2731 commented on #122
@ayan-biswas0412 please assign me I can work on this

[2021-05-15 06:31] subhangi2731 commented on #204
It will make the code look really good @ayan-biswas0412 please assign me EsLint will be code quality linter, Prettier the  code formatting tool while Editor Config will provide with the right editor configuration.

[2021-05-15 12:59] subhangi2731 commented on #144
@ayan-biswas0412 please assign me on this

[2021-05-15 13:00] subhangi2731 commented on #204
@ayan-biswas0412 please assign me so that I can start working

[2021-05-15 13:00] subhangi2731 commented on #204
@ayan-biswas0412 I will send a pr in 2 to 3 days

[2021-05-16 16:03] Jassi10000-zz commented on #122
@ayan-biswas0412 Is that issue related to dockerizing the application
If yes , then I want to definitely try my hands out on this
You can assign me after @subhangi2731 does with her part

[2021-05-16 16:07] subhangi2731 commented on #122
@Jassi10000 I have already started working on this and will send a pr and I think the issue will be closed after my pr gets merged

[2021-05-16 16:10] Jassi10000-zz commented on #122
@subhangi2731 I know , no issues with that
That's why I wrote  that he can assign me after you
which means in case the result is not as expected  , I can try on that

But if you are good with that , then no issues
All the best

[2021-05-16 17:17] #196 closed, assigned to nobody

[2021-05-16 17:18] subhangi2731 opened #205 "Creating a homepage and adding routes in it"
I will create a homepage and add information about existing routes

[2021-05-16 17:18] subhangi2731 commented on #205
@ayan-biswas0412 please assign me

[2021-05-17 01:33] #156 closed

[2021-05-18 10:21] #25 closed

[2021-05-19 14:48] #186 closed

[2021-05-19 19:18] bhavita2404 commented on #203
Have you started working on this issue ??

[2021-05-19 19:26] bhavita2404 commented on #203
have assigned this issue to you. Please give an update on your progress.

[2021-05-19 19:31] N-Shar-ma commented on #203
I'll start working on it right now!

[2021-05-20 13:50] bhavita2404 commented on #205
Which homepage are you referring to ?? Please explain the issue in detail.

[2021-05-20 13:53] bhavita2404 commented on #201
Somebody is already working on this issue.

[2021-05-20 13:55] bhavita2404 commented on #200
This may not look good.

[2021-05-20 13:57] bhavita2404 commented on #202
Go ahead !!

[2021-05-20 14:01] bhavita2404 commented on #202
Sorry someone is already working on this issue.

[2021-05-20 17:48] #176 closed

[2021-05-21 16:36] kumarishalini6 opened #207 "scrollTopButton in home page of hotelontouch"
There should be a scroll button at the home page of hotel on  touch. And dark mode button should be at the top.

[2021-05-21 16:37] kumarishalini6 commented on #207
@ayan-biswas0412  please assign this issue to me, under GSSoC'21.

[2021-05-22 16:12] #205 closed, assigned to nobody

[2021-05-22 16:13] subhangi2731 commented on #204
@bhavita2404 @ayan-biswas0412 should i close this issue?

[2021-05-23 09:03] subhangi2731 commented on #122
@ayan-biswas0412 should the backend be dockerised so that nodejs and all dependencies inside backend folder are installed ?
please tell me soon as I will be creating a pr now

[2021-05-23 10:03] kumarishalini6 commented on #193
@ayan-biswas0412  please review my PR the GSSoC'21 is about to end

[2021-05-23 20:04] subhangi2731 commented on #204
@ayan-biswas0412 please assign me issue I request u there is no time left

[2021-05-23 20:05] subhangi2731 commented on #144
@ayan-biswas0412 I request u please assign me I have commented so many times

[2021-05-24 23:12] #189 closed, assigned to nobody

[2021-05-24 23:12] #190 closed, assigned to nobody

[2021-05-26 16:05] subhangi2731 commented on #122
@bhavita2404 can u please reply here i guess u are the mentor of this project

[2021-05-26 18:42] bhavita2404 commented on #207
assigned but i think there is no need to put the dark mode button on top.

[2021-05-26 18:54] #202 closed, assigned to nobody

[2021-05-26 18:54] #201 closed, assigned to nobody

[2021-05-26 19:05] bhavita2404 commented on #199
Sure. Go ahead

[2021-05-26 19:12] bhavita2404 commented on #199
But I have seen that you have already opened several issues regarding this. I would suggest you to close the remaining ones and continue working in one PR only.

[2021-05-26 23:45] kumarishalini6 commented on #199
Please review my PRs

[2021-05-27 20:59] #191 closed, assigned to kumarishalini6

[2021-05-31 19:01] bhavita2404 commented on #207
any updates ??

[2021-06-09 11:30] #132 closed

[2021-06-09 14:53] #200 closed, assigned to nobody

[2021-06-12 12:52] #193 closed, assigned to kumarishalini6

[2021-06-12 21:24] #204 closed, assigned to nobody

[2021-06-12 21:24] #144 closed

[2021-06-15 17:44] #122 closed

[2021-06-16 01:06] #199 closed, assigned to kumarishalini6

[2021-06-17 01:25] #207 closed, assigned to kumarishalini6

[2021-06-20 20:45] #203 closed, assigned to N-Shar-ma

[2021-10-06 07:51] rajeshpanjiyar opened #209 "Website logo is not visible"
**Describe the bug**
Website logo is not visible in profile of the project admin

**Expected behavior**
URL of the proper logo should be added

**Screenshots**
<img width="737" alt="Screenshot 2021-10-06 at 1 29 37 PM" src="https://user-images.githubusercontent.com/78999467/136161518-a0bffe0f-d04c-440f-a610-25d2f05acea4.png">

**Device Information [optional]:**

- Website
**Are you working on this

[2021-10-26 10:35] #209 closed, assigned to nobody